<mat-card class="card-container">
  <form
    action=""
    method="post"
    [formGroup]="formLogin"
    (ngSubmit)="handlerLogin()"
  >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="field-flex">
        <mat-label for="userName">Nombre:</mat-label>
        <input
          matInput
          type="text"
          formControlName="userName"
          name="userName"
          id="userName"
          placeholder="ingrese el email"
        />
        <mat-error *ngIf="formLogin.get('userName')?.invalid"
          >El nombre debe ser entre 3 y 25 letras, sin simbolos
          especiales</mat-error
        >
      </mat-form-field>

      <div>
        <mat-form-field class="field-flex">
          <mat-label for="password">Contraseña:</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
            name="password"
            id="password"
          />
          <mat-error *ngIf="formLogin.get('password')?.invalid"
            >La contraseña debe tener como mínimo 4 caracteres</mat-error
          >
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
        <div class="fail-message" *ngIf="deletionMessage">
          {{ deletionMessage }}
        </div>
      </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions class="button-container">
      <button class="field-flex button-style" mat-raised-button type="submit">
        Log In
      </button>
      <button
        class="return-button"
        mat-raised-button
        type="button"
        (click)="handlerSignUp()"
      >
        Sign Up
      </button>
    </mat-card-actions>
  </form>
</mat-card>
