* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 100px; 
}

.search-icon {
    margin-right: 10px; 
    color: #888;
}

input[type="text"] {
    width: 300px; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

table {
    width: 90%; 
    border-collapse: collapse;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.header-reservas {
    background-color: rgb(70, 93, 224);
    color: white;
}

.header-reservas-activas th {  
    background-color: rgb(69, 167, 69);
    color: white;
    padding: 12px;
    text-align: left;
    font-weight: bold;
}

.header-reservas-canceladas th {  /* Nueva clase para reservas canceladas */
    background-color: red;        /* Color de fondo rojo */
    color: white;                 /* Color del texto blanco */
    padding: 12px;
    text-align: left;
    font-weight: bold;
}

th {
    padding: 12px;
    text-align: left;
    font-weight: bold;
}

td {
    border: 1px solid #ddd;
    padding: 10px;
    transition: background-color 0.3s;
}

button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

button:hover {
    background-color: #005f73;
}

h4 {
    margin-left: 70px;
}
