<app-header></app-header> 
<div class="container">
  <div class="left-section">
    <img src="https://images.unsplash.com/photo-1638718358942-ea45a721867b?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Lighthouse" class="background-image">
  </div>
  <div class="right-section">
    <h1>Iniciar sesión</h1>
    
    <form>
      <label for="login"></label>
      <input type="text" id="login" placeholder="Email">
      
      <label for="password"></label>
      <input type="password" id="password" placeholder="Contraseña">
      
      <div class="remember-forgot">
        <div>
          <input type="checkbox" id="remember-me">
          <label for="remember-me"> Recuérdame</label>
        </div>
        <a href="#">¿Olvidaste la contraseña?</a>
      </div>
      
      <button type="submit" class="sign-in-btn">Ingresar</button>
    </form>
    <div class="sign-up">
      <p>¿No tienes una cuenta? <a href="#">Regístrate</a></p>
    </div>
  </div>
</div>

  
  
  
  
  
