/* Estilos para centrar el contenido de login */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fafafa;
  }
  
  .login-box {
    width: 350px;
    background-color: white;
    border: 1px solid #dbdbdb;
    border-radius: 10px; /* Corner radius de 10px */
    text-align: center;
    padding: 40px;
  }
  
  h1 {
    font-family: 'Poppins', sans-serif;
    color: #333;
    margin-bottom: 20px;
    font-size: 30px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    background-color: #fafafa;
    font-size: 14px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #3897f0;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
  }
  
  button[type="submit"]:hover {
    background-color: #3181d4;
  }
  
  /* Forgot password */
  .forgot-password {
    display: block;
    font-size: 14px; /* Aumentar el tamaño de la letra */
    color: #00376b;
    text-decoration: none;
    margin-top: 10px;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }
  
  /* Signup link */
  .signup-link {
    font-size: 14px;
    margin-top: 15px;
  }
  
  .signup-link a {
    color: #3897f0;
    text-decoration: none;
    font-weight: bold;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }
  