<link rel="stylesheet" href="https://unpkg.com/chota@latest">

<body>
  <div class="container">
    <p>
      <input type="text" id="filtro" placeholder="Escriba para buscar" (input)="filtrar($event.target)">
    </p>

    <div class="container is-center" id="listado">
      <div *ngFor="let usuario of usuariosOrdenados()" class="card col-4 {{this.filtrados.includes(usuario.ID)?'is-hidden':''}}">
        <h4>{{usuario.nombreCompleto}}</h4>
        <p>{{'('+usuario.tokens+' tokens)'}}</p>
      </div>
    </div>
  </div>
</body>