<!-- Oscurece el contenido de la página al abrir el popup "Localidades" -->
<div class="overlay" [ngClass]="{ active: isPopupOpen }"></div>
<!-- TODO: Popup Modal, falta agregarle las direcciones y ubicaciones del usuario -->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngClass]="{ 'd-block': isPopupOpen }"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header mx-5">
        <h4 class="modal-title">Elegí dónde recibir tus compras</h4>
        <!-- Botón "X" para cerrar el popup -->
        <button
          type="button"
          class="btn-close"
          (click)="closePopup()"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body mx-5">
        <strong>En una de tus direcciones</strong>
        <!-- Botones tipo radio generados dinámicamente desde el componente -->
        <div class="mt-3">
          <div *ngFor="let direccion of direcciones" class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="direccion"
              [id]="direccion"
              (click)="selectedDireccion = direccion; toggleEnOtraUbicacion()"
            />
            <label class="form-check-label" [for]="direccion">
              {{ direccion }}
            </label>
          </div>
          <!-- Opción "En otra ubicación" como botón tipo radio -->
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="direccion"
              id="otraUbicacion"
              (click)="
                selectedDireccion = 'En otra ubicación'; toggleEnOtraUbicacion()
              "
            />
            <label class="form-check-label" for="otraUbicacion">
              En otra ubicación
            </label>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-between mt-5">
          <!-- Botón que cambia según la selección -->
          <!-- TODO: Botón "Guardar Cambios", no hace nada aún -->
          <button
            type="button"
            class="btn btn-primary mx-5 custom-btn-primary"
            [innerText]="enOtraUbicacion ? 'Continuar' : 'Guardar cambios'"
            [routerLink]="
              enOtraUbicacion ? '/nueva-ubicacion' : '/guardar-cambios'
            "
          ></button>
          <!-- Botón "Cancelar" para cerrar el popup -->
          <button
            type="button"
            class="btn btn-secondary mx-5"
            (click)="closePopup()"
          >
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
