.tragamonedas {
    height: 100vh;
    width: 50%;
    margin: 6rem auto;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
}

.textoTragamonedas {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.reel {
    position: relative;
    overflow: hidden;
    background-position: 0 0;
    width: 79px;
    height: 237px;
    background-image: url(https://assets.codepen.io/439000/slotreel.webp);
    background-repeat: repeat-y;
}

.slots {
    display: flex;
    gap: 2rem;
}

.buttonTragamonedas {
    padding: 1rem;
    background-color: var(--amarillo);
    margin-top: 1rem;
    border: 2px solid black;
}

.buttonDisabled {
    pointer-events: none;
}
