/* Register.css */

.register-container {
  width: 300px;
  margin: auto;
  padding: var(--espaciado); /* Utiliza la variable de espaciado */
  border: 1px solid #ccc;
  border-radius: var(--borde-redondeado); /* Utiliza la variable de borde redondeado */
  background-color: var(--color-fondo); /* Utiliza la variable de color de fondo */
  box-shadow: var(--sombra-caja); /* Utiliza la variable de sombra de caja */
  transform: translateY(15%); /* Ajusta la posición vertical */
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: var(--borde-redondeado); /* Utiliza la variable de borde redondeado */
}

form button {
  background-color: var(--color-destacado); /* Utiliza la variable de color destacado */
  color: var(--color-texto); /* Utiliza la variable de color de texto */
  border: none;
  border-radius: var(--borde-redondeado); /* Utiliza la variable de borde redondeado */
  padding: 10px 20px;
  cursor: pointer;
}

form button:hover {
  background-color: var(--color-secundario); /* Utiliza la variable de color secundario */
}

p {
  margin-top: 10px;
  text-align: center;
}

p a {
  color: var(--color-enlace); /* Utiliza la variable de color de enlace */
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}
