.addTorneo input{
width: 40%;
margin: 10px;
padding: 10px;
border: none;
border-radius: 5px;
background-color: #f2f2f2;
font-size: 14px;
outline: none;
}

.addTorneo button{
width: 20%;
margin: 10px 0;
padding: 10px;
border: none;
border-radius: 5px;
background-color: #f2f2f2;
font-size: 14px;
outline: none;
}