<p>admin works!</p>

<pre>
    {{list | json}}
    {{admin | json}}
</pre>

<!--<button (click)="loadAdmins()">Cargar</button>

<div>
    <input type="text" #myInput id="myInput" placeholder="ID">
<button 
(click)="loadOne(myInput.value)" 
(click)="myInput.value = ''">
Traer
</button>
</div>

<div>
    <input type="text" #idRemove idRemove="idRemove" placeholder="ID">
    <button 
    (click)="removeAdmin(idRemove.value)" 
    (click)="idRemove.value = ''" >
    Borrar
    </button>
</div>-->


<div class="addTorneo">
    <input type="text" #nombre_torneo nombre_torneo="nombre_torneo" placeholder="Nombre Torneo">
    <input type="text" #fecha_inicio_torneo fecha_inicio_torneo="fecha_inicio_torneo" placeholder="Fecha Inicio Torneo">
    <input type="text" #fecha_fin_torneo fecha_fin_torneo="fecha_fin_torneo" placeholder="Fecha Fin Torneo">
    <input type="text" #admin admin="admin" placeholder="Admin a cargo">
    <input type="text" #sucursal sucursal="sucursal" placeholder="Sucursal">
    <input type="text" #estado_torneo estado_torneo="estado_torneo" placeholder="Estado del torneo">
    <input type="text" #formato_torneo formato_torneo="formato_torneo" placeholder="Formato del torneo">
    <input type="text" #id id="id" placeholder="ID">
    <button 
    (click)="addTorneo(nombre_torneo.value, fecha_inicio_torneo.value, fecha_fin_torneo.value, admin.value, sucursal.value, estado_torneo.value, formato_torneo.value, id.value)"
    (click)="nombre_torneo.value = ''" 
    (click)="fecha_inicio_torneo.value = ''"
    (click)="fecha_fin_torneo.value= ''"
    (click)="admin.value= ''"
    (click)="sucursal.value= ''"
    (click)="estado_torneo.value= ''"
    (click)="formato_torneo.value= ''"
    (click)="id.value = ''">
    Crear Torneos
    </button>
</div>

<!--<div>
    <input type="text" #modNombre modNombre="modNombre" placeholder="Mod Nombre Admin">
    <input type="text" #modContrasenia modContrasenia="modContrasenia" placeholder="Mod Contraseña">
    <input type="text" #modApellido modApellido="modApellido" placeholder="Mod Apellido">
    <input type="text" #modMail modMail="modMail" placeholder="Mod Mail">
    <input type="text" #modFecha_Nacimiento modFecha_Nacimiento="modFecha_Nacimiento" placeholder="Mod Fecha Nacimiento">
    <input type="text" #modID modID="modID" placeholder="Mod ID">
    <button 
    (click)="putAdmin(modNombre.value, modContrasenia.value, modApellido.value, modMail.value, modFecha_Nacimiento.value, modID.value)" 
    (click)="modNombre.value = ''" 
    (click)="modContrasenia.value = ''"
    (click)="modApellido.value = ''"
    (click)="modMail.value = ''"
    (click)="modFecha_Nacimiento.value= ''"
    (click)="modID.value = ''">
    Modificar una Admin
    </button>
</div>-->
