.anuncio-Content {
  width: 90%;
  height: 15rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto 1fr;
  grid-auto-flow: row;
  grid-template-areas:
    "datos ."
    "datos ."
    "datos descripcion";
  padding: 2px;
  background-color: #213555;
  color: white;
  border-radius: 12px;
  margin: 0 auto;
  margin-top: 5vh;
}

.datos {
  grid-area: datos;
  margin-left: 2%;
  text-align: left;
}

.descripcion {
  margin-top: 40px;
}

.presupuesto-Content {
  width: 90%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto 1fr;
  grid-auto-flow: row;
  grid-template-areas:
    "campo horario "
    "campo horario"
    "botones botones";
  padding: 2px;
  background-color: #213555;
  color: aliceblue;
  border-radius: 12px;
  margin: 0 auto;
  margin-top: 1vh;
}

.campos {
  grid-area: campo;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto 1fr;
  grid-auto-flow: row;
  grid-template-areas:
    "listaMat listaMat"
    "textoCampos entradasCampos";
  margin-left: 2%;
  text-align: left;
}

.textoCampos {
  grid-area: textoCampos;
}

.listaMat {
  grid-area: listaMat;
}

.entradasCampos {
  grid-area: entradasCampos;
}

.horarios {
  grid-area: horario;
  margin-left: 2%;
  text-align: left;
}
.botones{
  align-items: center;
  grid-area: botones;
}
textarea,
input {
  border-radius: 12px;
  background-color: #213555;
  color: aliceblue;
}

button {
  border-radius: 6px;
  background-color: gray;
  color: aliceblue;
}

.scroll-container {
  max-height: 80vh;
  overflow-y: auto;
  padding: 10px;
}

/* Estilos para pantallas medianas */
@media (max-width: 768px) {

  .anuncio-Content {
      height: auto;
    };
    .presupuesto-Content {
      display: grid;
      grid-template-rows: auto auto 1fr;
      /* Tres filas para campos, horario y espacio entre ellos */
      grid-template-columns: 100%;
      /* Una columna para ocupar todo el ancho */
      grid-auto-flow: row;
      grid-template-areas:
        "campo"
        "horario"
        "botones";
      /* Agregamos una fila de espacio entre campos y horario */
    }
  
    .horarios {
      margin-left: 2%;
      margin-top: 10px;
      /* Ajusta el espacio entre los campos y la parte de horario */
      text-align: left;
    }
  
    textarea {
      width: 95%;
    }
  
    .espacio {
      /* Puedes ajustar el tamaño del espacio según tus necesidades */
      height: 20px;
    }
  
    input {
      margin-top: 25px;
    }
  
    /* Ajustes para los botones */
    button {
      width: 40%;
      /* Hace que los botones ocupen todo el ancho de la columna */
      margin-top: 10px;
      /* Ajusta el espacio entre los botones y la parte de horario */
    }

}

/* Estilos para pantallas pequeñas */
@media (max-width: 576px) {
  .anuncio-Content {
    height: auto;
  }

  .presupuesto-Content {
    display: grid;
    grid-template-rows: auto auto 1fr;
    /* Tres filas para campos, horario y espacio entre ellos */
    grid-template-columns: 100%;
    /* Una columna para ocupar todo el ancho */
    grid-auto-flow: row;
    grid-template-areas:
      "campo"
      "horario"
      "botones";
    /* Agregamos una fila de espacio entre campos y horario */
  }

  .horarios {
    margin-left: 2%;
    margin-top: 10px;
    /* Ajusta el espacio entre los campos y la parte de horario */
    text-align: left;
  }
  textarea{
    width: 95%;
  }

  .espacio {
    /* Puedes ajustar el tamaño del espacio según tus necesidades */
    height: 20px;
  }
  input{
    margin-top: 25px;
  }
  /* Ajustes para los botones */
  button {
    width: 40%;
    /* Hace que los botones ocupen todo el ancho de la columna */
    margin-top: 10px;
    /* Ajusta el espacio entre los botones y la parte de horario */
  }
}