<footer class="container-fluid bg-light text-black">
  <div class="row py-4 justify-content-md-center justify-content-start ml-5 sm-5 ml-md-0">
    <div class="col-md-2 col-sm-4 col-6">
      <h5>Mi cuenta</h5>
      <ul class="list-unstyled">
        <li><a routerLink="/mis-pedidos">Mis pedidos</a></li>
        <li><a routerLink="/mis-favoritos">Mis favoritos</a></li>
        <li><a routerLink="/mis-reseñas">Mis reseñas</a></li>
        <li><a routerLink="/configuracion">Configuración</a></li>
      </ul>
    </div>
    <div class="col-md-2 col-sm-4 col-6">
      <h5>Categorías</h5>
      <ul class="list-unstyled">
        <li><a href="#">Ficción</a></li>
        <li><a href="#">No ficción</a></li>
        <li><a href="#">Literatura infantil</a></li>
        <li><a href="#">Educación y referencia</a></li>
        <li><a href="#">Ciencia y naturaleza</a></li>
        <li><a href="#">Religión y espiritualidad</a></li>
        <li><a href="#">Política y sociedad</a></li>
        <li><a href="#">Salud y bienestar</a></li>
        <li><a href="#">Negocios y finanzas</a></li>
      </ul>
    </div>
    <div class="col-md-2 col-sm-4 col-6">
      <h5>Formatos</h5>
      <ul class="list-unstyled">
        <li><a href="#">Físicos</a></li>
        <li><a href="#">Ebooks</a></li>
        <li><a href="#">Audiolibros</a></li>
      </ul>
    </div>
    <div class="col-md-2 col-sm-4 col-6">
      <h5>Otros</h5>
      <ul class="list-unstyled">
        <li><a routerLink="/ofertas">Ofertas</a></li>
        <li><a routerLink="/editoriales">Editoriales</a></li>
        <li><a routerLink="/autores">Autores</a></li>
      </ul>
    </div>
    <div class="col-md-2 col-sm-4 col-6">
      <h5>Ayuda</h5>
      <ul class="list-unstyled">
        <li>
          <a routerLink="/acerca-de">Acerca de {{ nombreSitio }}</a>
        </li>
        <li><a routerLink="/centro-de-ayuda">Centro de ayuda</a></li>
        <li><a routerLink="/contacto">Contáctanos</a></li>
        <li><a routerLink="/sucursales">Sucursales</a></li>
        <li><a routerLink="/ayuda/compras">Compras</a></li>
        <li><a routerLink="/ayuda/envios">Envíos</a></li>
      </ul>
    </div>
  </div>
  <div class="separator-container">
    <div class="separator"></div>
    <p class="footer-text">
      © {{ currentYear }} {{ nombreSitio }}. Todos los derechos reservados.<br />
      <span class="footer-snd-text">Trabajo práctico integrador en el contexto de la cátedra de "Desarrollo de
        Software"</span>
    </p>
  </div>
</footer>