<div class="container">
    <div class="container-right">
        <div class="topnav">
            <a class="menu-item" href="">Home</a>
        </div>
    </div>
    <div class="container-mid">
        <span class="text-login">Bienvenido! Ingrese sus datos.</span>
        <div class="login-usuario">
            <input type="text" name="usuario" id="" placeholder="Ingrese su usuario">
        </div>
        <div class="login-clave">
            <input type="text" name="clave" id="" placeholder="Ingrese su contraseña">
        </div>
        <button class="bottom-enviar" type="submit" id="submit">Enviar</button>
        <div class="bottom-registro">
            <a class="bottom-registro-css" href="/Registro">Aún no tienes una cuenta? haz click aquí!</a>
        </div>
    </div>
    <div class="container-floor">
        <a class="links-ayuda" href="">Soporte</a>
        <a class="links-ayuda" href="">Ubicación</a>
        <a class="links-ayuda" href="">Instagram</a>
    </div>
</div>