html{
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
  background-color: #F5EFE7;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
        /* Definición de clases de CSS */
  }  .login-container {
          text-align: center;
          margin-top: 100px;
        }
    
        .login-input {
          margin: 5px;
          padding: 5px;
        }
    
        .login-button {
          padding: 5px 10px;
          background-color: #007bff;
          color: white;
          border: none;
          cursor: pointer;
        }

