
/* Estilos para asegurar que el footer se mantenga abajo */
html, body {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

.content {
  flex: 1;
}


