@media(min-width: 760px){
    .container{
        flex-direction: column;
        background-color: #333;
    }
}

.container {
    background-color: #333;
    display: flex;
    flex-direction: column;
}

.container-right{
    border-left-width: 2px;
    border-right-width: 2px;
    height: auto;
    display: flex;
    flex-direction: column;

}

.container-floor{
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: center;
}


.container-mid{
    display: flex;
    flex-direction: column;
    background-color: #333;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.links-ayuda{
    color: white;
    padding: 20px;
    margin-top: 35px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 35px;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color:rgb(39, 39, 39);
    overflow: hidden;
    height: auto;
  }
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 13px 16px;
    text-decoration: none;
    font-size: 17px;
    height: auto;
}
  
  /* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
  /* Add a color to the active/current link */
.topnav a.active {
    background-color: #aa0494;
    color: white;
}

.text-login{
    color: white;
    padding: 40px;
    margin-left: 35%;
}

.login-usuario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    margin-left: 38%;
    margin-right: 38%;
}

.login-clave{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    margin-left: 38%;
    margin-right: 38%;
}

.login-clave-repetida{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    margin-left: 38%;
    margin-right: 38%;
}

.bottom-enviar{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
}