<div class="container">
    <div class="container-right">
        <div class="topnav">
            <a class="menu-item" href="/Login">Volver</a>
        </div>
    </div>
    <div class="container-mid">
        <span class="text-login">¿Listo para empezar? Complete los siguientes datos!</span>
        <div class="login-usuario">
            <input type="text" name="usuario" id="" placeholder="Ingrese su usuario">
        </div>
        <div class="login-clave">
            <input type="text" name="clave" id="" placeholder="Ingrese su contraseña">
        </div>
        <div class="login-clave-repetida">
            <input type="text" name="clave-repetida" id="" placeholder="Ingrese su contraseña de nuevo">
        </div>
        <button class="bottom-enviar">Enviar</button>
    </div>
    <div class="container-floor">
        <a class="links-ayuda" href="">Soporte</a>
        <a class="links-ayuda" href="">Ubicación</a>
        <a class="links-ayuda" href="">Instagram</a>
    </div>
</div>