<div class="libros-recomendados">
  <h3>Libros recomendados</h3>
  <div class="lista-libros">
    <button
      class="boton-izquierda"
      (click)="moverIzquierda()"
      [class.disabled]="elementosAlInicio"
    >
      &#8592;
    </button>
    <div class="lista-contenedor">
      <div class="elementos-lista">
        <div
          *ngFor="
            let libro of libros.slice(
              elementoActual,
              elementoActual + elementosPorPaso
            );
            let i = index
          "
          class="elemento-lista elemento-animado animacion-tarjeta"
        >
          <div class="libro card">
            <a href="#" class="text-decoration-none">
              <img
                src="{{ libro.imagen }}"
                alt="Portada del libro"
                class="card-img-top tarjeta-imagen"
              />
              <div class="card-body">
                <p class="card-text precio">{{ libro.precio }}</p>
                <p class="card-text descripcion">
                  {{
                    libro.descripcion.length > descripcionMaxLength
                      ? (libro.descripcion | slice : 0 : descripcionMaxLength) +
                        "..."
                      : libro.descripcion
                  }}
                </p>
              </div></a
            >
          </div>
        </div>
      </div>
    </div>
    <button
      class="boton-derecha"
      (click)="moverDerecha()"
      [class.disabled]="elementosAlFinal"
    >
      &#8594;
    </button>
  </div>
</div>
