<div class="libros-recomendados">
  <h3>Libros recomendados</h3>
  <div class="lista-libros">
    <button class="boton-izquierda" (click)="moverIzquierda()">&#8592;</button>
    <div class="lista-contenedor">
      <ul class="elementos-lista">
        <li
          *ngFor="
            let libro of libros.slice(
              elementoActual,
              elementoActual + elementosPorPaso
            )
          "
          class="elemento-lista"
        >
          <div class="libro">
            <div><img src="{{ libro.imagen }}" alt="Portada del libro" /></div>
            <p class="precio">{{ libro.precio }}</p>
            <p class="descripcion">
              {{
                libro.descripcion.length > descripcionMaxLength
                  ? (libro.descripcion | slice : 0 : descripcionMaxLength) +
                    "..."
                  : libro.descripcion
              }}
            </p>
          </div>
        </li>
      </ul>
    </div>
    <button class="boton-derecha" (click)="moverDerecha()">&#8594;</button>
  </div>
</div>
