[submodule "FrontEnd"]
	path = FrontEnd
	url = https://github.com/MartinianoLeonCorrea/frontendapp_tpGS.git
[submodule "BackEnd"]
	path = BackEnd
	url = https://github.com/MartinianoLeonCorrea/backendapp_tpGS.git
