# coverage reports
coverage

# API keys and secrets
.env

# dependency directory
backend/node_modules
frontend/node_modules
node_modules

# OS metadata
.DS_Store
Thumbs.db

# ignore built ts files
dist/**/*
backend/dist/**/*
frontend/dist/**/*
# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

## local jistory for vscode
.history/

## built vscode extensions
*.vsix