.v-narrow {
    width: 11.75px;
    background-color: green;
}

.v-wide {
    width: 38px;
    background-color: blue;
}

.h-narrow {
    height: 11.75px;
    background-color: yellow;

}

.h-wide{
    height: 38px;
    background-color: red;

}

.bet-board-grid {
    position: absolute;
    text-align: center;
    margin: 8px;
    opacity: 0.8;
    
    & .number {
        background-color: aqua;
    }

}



.bet-board-image {
    width: 700px;
}