
.roulette {
    position: relative;
    margin: 50px;
    pointer-events: none;
}

.fixed-part, .spinning-part {
    position: absolute;
    top: 5%;
}

.roulette, .fixed-part, .spinning-part {
    width: 500px;
    height: 500px;
}

.spinning-part {
    transform: rotate(0deg);
    transition-property: transform;
    transition-duration: 4s;
    transition-timing-function: cubic-bezier(.46,-0.12,.37,1);
}