<div id="carouselOferta" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <!-- TODO: Crear imágenes más atractivas para las ofertas -->
      <!-- Imagen de primera oferta -->
      <a routerLink="/ofertas"
        ><img
          src="../../assets/img/Ofertas/Oferta 1.jpg"
          class="d-block w-100 h-auto"
          alt="Oferta 1"
      /></a>
    </div>
    <div class="carousel-item">
      <!-- Imagen de segunda oferta -->
      <a routerLink="/ofertas"
        ><img
          src="../../assets/img/Ofertas/Oferta 2.jpg"
          class="d-block w-100 h-auto"
          alt="Oferta 2"
      /></a>
    </div>
    <div class="carousel-item">
      <!-- Imagen de tercera oferta -->
      <a routerLink="/ofertas"
        ><img
          src="../../assets/img/Ofertas/Oferta 3.jpg"
          class="d-block w-100 h-auto"
          alt="Oferta 3"
      /></a>
    </div>
    <!-- Agregar más ofertas (carousel-item) según se necesite -->
  </div>
  <!-- Botón para retroceder en el carousel -->
  <a
    class="carousel-control-prev"
    href="#carouselOferta"
    role="button"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <!-- Para que no se muestre texto "Anterior" -->
    <span class="visually-hidden">Anterior</span>
  </a>
  <!-- Botón para avanzar en el carousel -->
  <a
    class="carousel-control-next"
    href="#carouselOferta"
    role="button"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <!-- Para que no se muestre texto "Siguiente" -->
    <span class="visually-hidden">Siguiente</span>
  </a>
</div>
