<div class="custom-background pb-5 pt-2">
    <app-boton-volver></app-boton-volver>
    <div class="container pt-4">
        <div class="row mb-4">
            <div class="col">
                <h2>Todos los libros</h2>
            </div>
        </div>
        <button class="btn btn-primary custom-btn-primary mx-2 mb-3" (click)="openPopup()">Nuevo Libro</button>

        <div class="row">
            <!-- Lista de libros -->
            <div *ngFor="let libroId of librosIds" class="col-md-4 mb-4">
                <ng-container *ngIf="librosData[libroId]">
                    <div class="card">
                        <img [src]="librosData[libroId].portada" alt="Portada del libro" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ librosData[libroId].titulo }}
                            </h5>
                            <p class="card-text">ISBN: {{ librosData[libroId].isbn }}</p>
                            <p class="card-text">Idioma: {{ librosData[libroId].idioma }}</p>
                            <p class="card-text">Precio: ${{ librosData[libroId].precio | number:'1.2-2' }} ARS</p>
                            <p class="card-text">Fecha de Edición: {{ librosData[libroId].fecha_edicion ?
                                formatearFecha(librosData[libroId].fecha_edicion) : 'N/A' }}</p>
                            <p class="card-text">ID: {{ libroId }}</p>
                            <button class="btn btn-primary custom-btn-primary mx-2"
                                (click)="openEditPopup(libroId)">Editar</button>
                            <button class="btn btn-primary custom-btn-secondary mx-2"
                                (click)="eliminarLibro(libroId)">Eliminar</button>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<!-- Modal Panel para Crear Libro -->
<div class="overlay" [ngClass]="{ active: isPopupOpen}">
    <div class="modal " tabindex="-1" role="dialog" [ngClass]="{ 'd-block': isPopupOpen }">
        <div class="modal-dialog modal-lg custom-modal-panel">
            <div class="modal-content custom-modal-panel">
                <div class="modal-header mx-5">
                    <h4 class="modal-title text-center">Crear Libro</h4>
                    <button type="button" class="btn-close btn-close-white" (click)="closePopup()"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body mx-5 mt-2">
                    <form [formGroup]="LibroForm" (ngSubmit)="onSubmit()">
                        <div class="form-group my-4 custom-input">
                            <label for="isbn">ISBN</label>
                            <input type="text" id="isbn" formControlName="isbn" placeholder="Ingrese el ISBN"
                                class="form-control" />
                            <div *ngIf="errorMessage" class="text-danger"> {{ errorMessage }}</div>
                        </div>
                        <div class="form-group my-4 custom-input">
                            <label for="titulo">Título</label>
                            <input type="text" id="titulo" formControlName="titulo" placeholder="Ingrese el título"
                                class="form-control" />
                            <div *ngIf="hasError('titulo', 'required')">El título es obligatorio.</div>
                        </div>
                        <div class="form-group my-4 custom-input">
                            <label for="idioma">Idioma</label>
                            <input type="text" class="form-control" id="idioma" formControlName="idioma"
                                placeholder="Ingrese el idioma" />
                            <small *ngIf="hasError('idioma', 'required')">El idioma es obligatorio.</small>
                        </div>
                        <div class="form-group my-4 custom-input">
                            <label for="descripcion">Descripción</label>
                            <textarea id="descripcion" formControlName="descripcion" class="form-control"
                                placeholder="Ingrese la descripción"></textarea>
                        </div>
                        <div class="form-group my-4 custom-input">
                            <label for="precio">Precio</label>
                            <input type="number" id="precio" formControlName="precio" class="form-control"
                                placeholder="Ingrese el precio" />
                            <small *ngIf="hasError('precio', 'required')">El precio es obligatorio.</small>
                        </div>
                        <div class="form-group my-4 custom-input">
                            <label for="fechaEdicion">Fecha de Edición</label>
                            <input type="date" id="fechaEdicion" class="form-control" formControlName="fecha_edicion" />
                            <small *ngIf="hasError('fecha_edicion', 'required')">La fecha de edición es
                                obligatoria.</small>
                        </div>
                        <div class="form-group my-4 custom-input">
                            <label for="autores">Autores</label>
                            <select class="form-control" id="autores" formControlName="autores" multiple>
                                <option *ngFor="let autor of autores" [value]="autor.id">{{ autor.nombre }}</option>
                            </select>
                        </div>
                        <div class="form-group my-4 custom-input">
                            <label for="editorial">Editorial</label>
                            <select class="form-control form-control-select" id="editorial" formControlName="editorial">
                                <option *ngFor="let editorial of editoriales" [value]="editorial.id">{{
                                    editorial.descripcion }}</option>
                            </select>
                        </div>
                        <div class="form-group my-4 custom-input">
                            <label for="categorias">Categorías</label>
                            <select class="form-control" id="categorias" formControlName="categorias" multiple>
                                <option *ngFor="let categoria of categorias" [value]="categoria.id">{{
                                    categoria.descripcion }}</option>
                            </select>
                        </div>
                        <div class="form-group my-4 custom-input">
                            <label for="formatos">Formatos</label>
                            <select class="form-control" id="formatos" formControlName="formatos" multiple>
                                <option *ngFor="let formato of formatos" [value]="formato.id">{{ formato.descripcion
                                    }}</option>
                            </select>
                        </div>
                        <div class="form-group my-4 custom-input">
                            <label for="portada">URL de Portada</label>
                            <input type="text" id="portada" formControlName="portada"
                                placeholder="Ingrese la URL de la portada" class="form-control" />
                            <small *ngIf="hasError('portada', 'required')">La URL de la portada es obligatoria.</small>
                        </div>
                        <div class="form-group my-4 custom-input">
                            <label for="calificacion">Calificación</label>
                            <input type="number" id="calificacion" class="form-control" formControlName="calificacion"
                                placeholder="Ingrese la calificación" />
                            <small *ngIf="hasError('calificacion', 'required')">La calificación es obligatoria.</small>
                        </div>
                        <div class="button-group">
                            <button type="submit"
                                class="btn btn-primary custom-btn-primary form-custom-btn-primary">Crear</button>
                            <div class="text-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
                            <button type="button"
                                class="btn btn-secondary custom-btn-secondary form-custom-btn-secondary"
                                (click)="closePopup()">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Panel para Editar Libro -->
<div class="overlay active" [ngClass]="{ active: isEditPopupOpen }">
    <div class="modal" tabindex="-1" role="dialog" [ngClass]="{ 'd-block': isEditPopupOpen }">
        <div class="modal-dialog modal-lg custom-modal-panel">
            <div class="modal-content custom-modal-panel">
                <div class="modal-header mx-5">
                    <h4>Editar Libro</h4>
                    <button type="button" class="btn-close btn-close-white" (click)="closeEditPopup()"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body mx-5 mt-2">
                    <form [formGroup]="EditLibroForm" (keydown.enter)="actualizarLibro()">
                        <div class="form-group my-4 custom-input">
                            <label for="editIsbn">ISBN</label>
                            <input type="text" id="editIsbn" formControlName="editIsbn"
                                placeholder="Ingrese el nuevo ISBN" class="form-control
                                " />
                            <div *ngIf="hasError('editIsbn', 'required')" class="text-danger">El ISBN es
                                obligatorio.</div>
                        </div>
                        <div class="form-group my-4 custom-input">
                            <label for="editTitulo">Título</label>
                            <input type="text" id="editTitulo" formControlName="editTitulo"
                                placeholder="Ingrese el nuevo título" class="form-control" />
                            <small *ngIf="hasError('editTitulo', 'required')">El título es obligatorio.</small>
                        </div>
                        <div class="form-group my-4 custom-input">
                            <label for="editIdioma">Idioma</label>
                            <input type="text" id="editIdioma" formControlName="editIdioma"
                                placeholder="Ingrese el nuevo idioma" class="form-control" />
                            <div *ngIf="hasError('editIdioma', 'required')" class="text-danger">El idioma es
                                obligatorio.</div>
                        </div>
                        <div class="form-group my-4 custom-input">
                            <label for="editDescripcion">Descripción</label>
                            <textarea type="text" id="editDescripcion" formControlName="editDescripcion"
                                placeholder="Ingrese la nueva descripción" class="form-control"></textarea>
                        </div>
                        <div class="form-group my-4 custom-input">
                            <label for="editPrecio">Precio</label>
                            <input type="number" id="editPrecio" class="form-control" formControlName="editPrecio"
                                placeholder="Ingrese el nuevo precio" />
                            <div class="text-danger" *ngIf="hasError('editPrecio', 'required')">El precio es
                                obligatorio.</div>
                        </div>
                        <div class="form-group my-4 custom-input">
                            <label for="editFechaEdicion">Fecha de Edición</label>
                            <input class="text-danger" type="date" id="editFechaEdicion"
                                formControlName="editFechaEdicion" class="form-control" />
                            <div *ngIf="hasError('editFechaEdicion', 'required')" class="text-danger">La fecha de
                                edición es
                                obligatoria.</div>
                        </div>
                        <div class="form-group my-4 custom-input">
                            <label for="editAutores">Autores</label>
                            <select class="form-control" id="editAutores" formControlName="editAutores" multiple>
                                <option *ngFor="let autor of autores" [value]="autor.id">{{
                                    autor.nombre }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group my-4 custom-input">
                            <label for="editEditorial">Editorial</label>
                            <select id="editEditorial" formControlName="editEditorial"
                                class="form-control form-control-select">
                                <option *ngFor="let editorial of editoriales" [value]="editorial.id">{{
                                    editorial.descripcion }}</option>
                            </select>
                        </div>
                        <div class="form-group my-4 custom-input">
                            <label for="editCategorias">Categorías</label>
                            <select class="form-control" id="editCategorias" formControlName="editCategorias" multiple>
                                <option *ngFor="let categoria of categorias" [value]="categoria.id">{{
                                    categoria.descripcion }}</option>
                            </select>
                        </div>
                        <div class="form-group my-4 custom-input">
                            <label for="editFormatos">Formatos</label>
                            <select class="form-control" id="editFormatos" formControlName="editFormatos" multiple>
                                <option *ngFor="let formato of formatos" [value]="formato.id">{{
                                    formato.descripcion
                                    }}</option>
                            </select>
                        </div>
                        <div class="form-group my-4 custom-input">
                            <label for="editPortada">URL de Portada</label>
                            <input class="form-control" type="text" id="editPortada" formControlName="editPortada"
                                placeholder="Ingrese la nueva URL de la portada" />
                            <div class="text-danger" *ngIf="hasError('editPortada', 'required')">La URL de la
                                portada es
                                obligatoria.</div>
                        </div>
                        <div class="form-group my-4 custom-input">
                            <label for="editCalificacion">Calificación</label>
                            <input type="number" id="editCalificacion" formControlName="editCalificacion"
                                class="form-control" placeholder="Ingrese la nueva calificación" />
                            <div class="text-danger" *ngIf="hasError('editCalificacion', 'required')">La
                                calificación es
                                obligatoria.</div>
                        </div>
                        <div class="button-group">
                            <button type="button" class=" btn btn-primary custom-btn-primary form-custom-btn-primary"
                                (click)="actualizarLibro()">Actualizar</button>
                            <button type="button"
                                class="btn btn-secondary custom-btn-secondary form-custom-btn-secondary"
                                (click)="closeEditPopup()">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>