/* Evaluaciones.css */

@import url('../Variables.css');

.evaluaciones-container {
  padding: var(--espaciado);
}

.evaluaciones-title {
  color: var(--color-texto-encabezado);
  text-align: center;
  font-size: 28px;
  margin-bottom: var(--espaciado*2);
}

.evaluacion-card {
  border: none;
  border-radius: var(--borde-redondeado);
  box-shadow: var(--sombra-caja);
  transition: transform var(--velocidad-transicion);
  background-color: var(--color-secundario);
  padding: var(--espaciado);
}

.evaluacion-card:hover {
  transform: scale(1.05);
}

.evaluacion-titulo {
  font-size: 20px;
  color: var(--color-destacado);
  font-weight: var(--peso-fuente-negrita);
  margin-bottom: var(--espaciado*0.5);
}

.evaluacion-descripcion {
  font-size: var(--tamano-fuente-normal);
  color: var(--color-texto);
  margin-bottom: var(--espaciado);
}

.evaluacion-button {
  background-color: var(--color-destacado);
  border: none;
  border-radius: var(--borde-redondeado);
  font-size: var(--tamano-fuente-normal);
  padding: var(--espaciado*0.5) var(--espaciado);
  transition: background-color var(--velocidad-transicion);
}

.evaluacion-button:hover {
  background-color: var(--color-fondo);
  color: var(--color-texto);
}

/* ... otros estilos ... */

.estrella {
  font-size: 20px;
  color: var(--color-secundario);
  margin-right: var(--espaciado*0.25);
}

.estrella.activa {
  color: var(--color-destacado);
}