<section class="py-5 bg-light">
  <div class="container">
    <h2 class="display-4 font-weight-bold text-center mb-5">Eventos Populares</h2>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">

        <div class="carousel-item active">
          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="card shadow-sm">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSga6yisHc6htna4rQdhlFyffWiWv1a1bsC9g&s" alt="Imagen del Evento {{ event }}">
                <div class="card-body text-center">
                  <h5 class="card-title">Evento Emocionante {{ event }}</h5>
                  <p class="card-text">Fecha: 1 de Enero, 2024</p>
                  <button class="btn btn-primary">Comprar Entradas</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="card shadow-sm">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSga6yisHc6htna4rQdhlFyffWiWv1a1bsC9g&s" alt="Imagen del Evento {{ event }}">
                <div class="card-body text-center">
                  <h5 class="card-title">Evento Emocionante {{ event }}</h5>
                  <p class="card-text">Fecha: 1 de Enero, 2024</p>
                  <button class="btn btn-primary">Comprar Entradas</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <button class="carousel-control-prev text-black" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next text-black" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
      </button>
    </div>
  </div>
</section>






<!-- <div class="container">
  <h2 class="display-5 font-weight-bold text-center mb-5 pt-2">Eventos Populares</h2>
  <div class="container-cards">

    <div class="" ngFor="let event of [1, 2, 3]">
      <div class="card h-100">
        <img
          class="card-img-top"
          src="/placeholder.svg?height=200&width=300"
          alt="Imagen del Evento {{ event }}"
        />
        <div class="card-body">
          <h5 class="card-title">Evento Emocionante {{ event }}</h5>
          <p class="card-text">Fecha: 1 de Enero, 2024</p>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary">Comprar Entradas</button>
        </div>
      </div>
    </div> 

    
    
  </div>
</div> -->