.sidebar {
  display: flex;
  width: 100%;
  background-color: rgb(198, 190, 190);
  color: black;
  
  padding:0px;

  overflow-y: auto;
  height: 100vh;
  border-right: 3px rgb(89, 67, 67);
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {

  display: flex;
  align-items: center;
  padding: 20px;
  /* Space between items */
}

.sidebar li:hover {
  background-color: gray;
  color: aliceblue;
  font-weight: bold;
  border-left: 3px brown;
}