<div class="sticky-top">
  <div class="header">
    <div class="container">
      <div class="d-flex align-items-center justify-content-between">
        <div>
          <a href="/">
            <img
              src="../../assets/Logo.png"
              alt="Logo de la página web"
              class="logo"
          /></a>
        </div>
        <div class="form-control">
          <input
            type="text"
            class="form-control-plaintext"
            placeholder="Buscar..."
          />
        </div>
        <div class="d-flex align-items-center">
          <a href="#">
            <img
              src="../../assets/usuario.png"
              alt="Usuario"
              class="user-image"
          /></a>
          <a href="#"
            ><img
              src="../../assets/carrito-de-compras.png"
              alt="Carrito de compras"
              class="cart-shopping-image"
          /></a>
          <i class="bi bi-cart3 cart-icon"></i>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <ul class="navbar-nav-localidad">
        <li class="nav-item">
          <a class="nav-link" href="#">📫 Localidad</a>
        </li>
      </ul>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto mx-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Categorías
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Categoría 1</a>
              <a class="dropdown-item" href="#">Categoría 2</a>
              <a class="dropdown-item" href="#">Categoría 3</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Autores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Editoriales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Ofertas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Ayuda</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
