/* Fuente a utilizar */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap");

/* VARIABLES */

:root {
  /* Paleta de Colores */
  --primary-color: #714f3c;
  --dark-color: #292929; /* Textos en general */
  --light-color: #d9d9d9;

  /* Fuente principal */
  --font: "Inter", sans-serif;
}

/* GLOBLALES */

html {
  font-size: 62.5%;
  font-family: var(--font);
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px; /* 1rem = 10px */
  font-family: var(--font);
  color: var(--dark-color);
}

/* UTILIDADES */

.container {
  max-width: 120rem;
  margin: 0 auto;
}

/* HEADER */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.container-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.container-logo i {
  font-size: 3rem;
}

.container-logo h1 a {
  text-decoration: none;
  color: var(--dark-color);
  font-size: 3rem;
  letter-spacing: -1px;
  text-transform: uppercase;
}

.container-user {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.container-user .fa-user {
  font-size: 3rem;
  color: var(--light-color);
  padding-right: 2.5rem;
}

.container-user .fa-cart-shopping {
  font-size: 3rem;
  color: var(--light-color);
  padding-left: 1rem;
}

.content-shopping-cart {
  display: flex;
  flex-direction: column;
}

/* NAVBAR */

.container-navbar {
  background-color: var(--light-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.navbar .fa-bars {
  display: none;
}

.menu {
  display: flex;
  gap: 2rem;
}

.menu li {
  list-style: none;
}

.menu a {
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--dark-color);
  font-weight: 600;
  position: relative;
}

/* REVISAR */

.menu a::after {
  content: "";
  width: 1.5rem;
  height: 1px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translate(-50% 50%);
  opacity: 0;
  transition: all 0.3s ease;
}

.menu a:hover::after {
  opacity: 1;
}

.menu a:hover {
  color: var(--primary-color);
}

.search-form {
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid var(--light-color);
  border-radius: 2rem;
  background-color: var(--light-color);
  height: 4.4rem;
}

.search-form input {
  outline: none;
  font-family: var(--font);
  border: none;
  width: 25rem;
  font-size: 1.4rem;
  color: var(--light-color);
}

.search-form input::-webkit-search-cancel-button {
  appearance: none;
}
