<div class="container">
    <h2>Datos de las Habitaciones:</h2>
    <div class="habitaciones-container">
      <div class="habitacion-card" *ngFor="let item of data">
        <div class="card">
          <img class="card-img-top" [src]="item.foto" alt="Imagen de la habitación" style="width: 100%;">
          <div class="card-body">
            <h3 class="card-title">Habitación {{ item.nroHabitacion }}</h3>
            <p class="card-text">{{ item.descripcion }}</p>
            <p class="card-text">Capacidad: {{ item.capacidadPersonas }} personas</p>
            <p class="card-text">Tipo: {{ item.tipo }}</p>
            <h3 class="card-text" style="font-size: 30px;"><b>${{ item.precioXdia }}</b></h3> 
            <button class="btn btn-reservar">Reservar ahora</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  