.details {
    margin-top: 8rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .9rem;
}

.detail_element {
    font-size: 1.2rem;
    background-color: #181529bb;
    padding: 1rem;
    border-radius: 1rem;
}

.backDetails {
    background-color: red;
    width: 100px;
    padding: 1.5rem;
    border-radius: 1.2rem;
    font-size: 1rem;
    color: black;
    font-weight: bold;
    text-align: center;
}

.backDetails:hover {
    background-color: rgb(172, 0, 0);
}