.details {
    margin-top: 10rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .9rem;
}

.back {
    background-color: red;
    width: 7%;
    display: block;
    border-radius: 1.2rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.detail_element {
    font-size: 1.2rem;
    background-color: #181529bb;
    padding: 1rem;
    border-radius: 1rem;
}