.header {
    color: red;
    background-color: var(--verde);
}

.gold-button {
    color: #C2752E;
    padding: 5px 16px 7px 16px;
    background: linear-gradient(to right, #D8751A, #FFB341 10%, #FFD076 30%, #F3B131 60%, #FFC961 80%, #D8751A 100%) padding-box,
                linear-gradient(#FFD976, #D8751A) border-box;
    border: 2px solid transparent;
    border-radius: 5px;
    text-shadow: 0px 1px #814c19;
}

.gold-button:hover {
    background: linear-gradient(to left, #D8751A, #FFB341 10%, #FFD076 30%, #F3B131 60%, #FFC961 80%, #D8751A 100%) padding-box,
                linear-gradient(to top, #FFD976, #D8751A) border-box;   
}

.nav{
    backdrop-filter: blur(5px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}