/* Estilos para el fondo oscurecido */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  /* Fondo semi-transparente */
  z-index: 1000;
  /* Asegurar que esté por detrás del popup */
  opacity: 0;
  /* Comenzar con opacidad 0 */
  pointer-events: none;
  /* Evitar interacción con el fondo */
  transition: opacity 0.3s ease;
  /* Animación de transparencia */
}

.overlay.active {
  opacity: 1;
  /* Mostrar el fondo oscurecido al abrir el popup */
  pointer-events: auto;
  /* Permitir interacción con el fondo oscurecido */
}

/* Estilos para el popup */
.modal-dialog {
  z-index: 2000;
  /* Asegurar que el popup esté por encima del fondo oscurecido */
}

.modal-title {
  font-size: 30px;
}

@media (max-width: 1000px) {
  .modal-title {
    font-size: 25px;
  }
}

/* Eliminar las líneas separadoras en el encabezado del popup */
.modal-header {
  border-bottom: none;
  /* Quitar la línea inferior */
}

.modal-title {
  margin-bottom: 0;
  /* Quitar el margen inferior del título */
}

.modal-footer {
  border-top: none;
  margin-bottom: 2rem;
}

.nav-link {
  cursor: pointer;
}

.img-localidad {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  /* Espacio entre la imagen y el texto */
}

.custom-dropdown-item:hover,
.custom-dropdown-item:active {
  background-color: #bd8464 !important;
  color: white !important;
}

.custom-btn-primary {
  background-color: #bd8464;
  border-color: #bd8464;
}

.custom-btn-primary:hover,
.custom-btn-primary:active {
  background-color: #976950;
  border-color: #976950;
}

.btn-unidad-monetaria,
.btn-unidad-monetaria:hover,
.btn-unidad-monetaria:active {
  background-color: transparent;
  color: var(--bs-nav-link-color);
  border-color: transparent;
}

.btn-unidad-monetaria:hover,
.btn-unidad-monetaria:active {
  color: var(--bs-nav-link-hover-color);
}

.dropdown-item {
  cursor: pointer;
  color: var(--bs-nav-link-hover-color) !important;
}

@media (min-width: 1080px) {
  .alinear-derecha {
    position: absolute;
    right: 0;
    margin-right: 5.3rem;
  }

  .alinear-izquierda {
    position: absolute;
    left: 0;
    margin-left: 1rem;
  }
}

/* Estilos personalizados para los elementos del dropdown */
.custom-dropdown-item {
  cursor: pointer;
  color: var(--bs-nav-link-color) !important;
  /* Usa el color predeterminado de Bootstrap */
}

.custom-dropdown-item:hover,
.custom-dropdown-item:active {
  background-color: #bd8464 !important;
  /* Cambia el color de fondo al pasar el mouse */
  color: white !important;
  /* Cambia el color del texto al pasar el mouse */
}