<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <ul class="navbar-nav-localidad alinear-izquierda">
      <li class="nav-item">
        <a class="nav-link" (click)="openPopup()">
          <span>
            <img src="../../../assets/img/Emojis/Closed Mailbox with Raised Flag.png"
              alt="Buzón de correo con bandera levantada" class="img-localidad" />
            Rosario
          </span></a>
        <app-popup-localidad [isPopupOpen]="isPopupOpen" (closed)="closePopup()"></app-popup-localidad>
      </li>
    </ul>
    <!-- Convierte los enlaces del nav en un toggler para móviles y tablets -->
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg"
      aria-controls="navbarOffcanvasLg" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end bg-light" tabindex="-1" id="navbarOffcanvasLg"
      aria-labelledby="navbarOffcanvasLgLabel">
      <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <ul class="navbar-nav ml-auto mx-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/inicio">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Categorías
          </a>
          <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdown">
            <div *ngIf="loading" class="dropdown-item text-center">
              Cargando categorías...
            </div>
            <a *ngFor="let categoria of categorias" class="dropdown-item custom-dropdown-item" href="#">
              {{ categoria }}
            </a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Formatos
          </a>
          <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdown">
            <a class="dropdown-item custom-dropdown-item" href="#">Físicos</a>
            <a class="dropdown-item custom-dropdown-item" href="#">Ebooks</a>
            <a class="dropdown-item custom-dropdown-item" href="#">Audiolibros</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/autores">Autores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/editoriales">Editoriales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ofertas">Ofertas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ayuda">Ayuda</a>
        </li>
        <li class="nav-item alinear-derecha">
          <div class="dropdown">
            <button type="button" id="dropdownMenuButton" class="btn btn-secondary dropdown-toggle btn-unidad-monetaria"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ currencyService.getCurrency() }}
            </button>
            <div class="dropdown-menu custom-dropdown-item-currency" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item custom-dropdown-item custom-dropdown-item-currency"
                (click)="setCurrency('ARS')">ARS</a>
              <a class="dropdown-item custom-dropdown-item custom-dropdown-item-currency"
                (click)="setCurrency('USD')">USD</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>