/* DatosPersonales.css */

.fondoDatosPersonales {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #213555;
  margin-bottom: -1rem;
}

.datos-personales-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h2 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.user-profile {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1rem;
  cursor: pointer;
}

.user-profile h3 {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  color: #fff;
}

.user-details {
  text-align: left;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.user-details label {
  font-weight: bold;
  color: #fff;
}

.user-details input {
  margin-bottom: 0.5rem;
  width: 95%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.btn {
  display: block;
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  background-color: #4F709C;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #3b5477;
}

/* Consulta de medios para pantallas pequeñas (por ejemplo, dispositivos móviles) */
@media (max-width: 768px) {
  .datos-personales-container {
    padding: 1rem;
  }

  .profile-picture {
    width: 100px;
    height: 100px;
  }
}
