<section class="container my-5">

    <!-- Separación visual -->
    <hr class="my-5 border-secondary opacity-0">

    <!-- Título -->
    <h2 class="text-center fw-bold mb-4">Acerca de Prosefy</h2>

    <!-- Descripción principal -->
    <div class="row justify-content-center">
        <div class="col-lg-10 text-center">
            <p class="lead text-muted">
                Prosefy es un Ecommerce diseñado para los amantes de la lectura. Este proyecto fue desarrollado en el
                marco de
                la cátedra de <strong>"Desarrollo de Software"</strong> de la Universidad Tecnológica Nacional (UTN) por
                los
                estudiantes <strong>Alejo Retamal</strong> y <strong>Marina Milo</strong>.
            </p>
        </div>
    </div>

    <!-- Separación visual -->
    <hr class="my-5 border-secondary opacity-25">

    <!-- Tecnologías utilizadas -->
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h3 class="text-center fw-semibold mb-4">Tecnologías Utilizadas</h3>
            <ul class="list-unstyled">
                <li class="d-flex justify-content-center align-items-center gap-3 mb-3">
                    <span class="fw-bold custom-color  me-2">Frontend:</span>
                    <div class="d-flex gap-2">
                        <span class="badge custom-badge rounded-pill">Angular</span>
                        <span class="badge custom-badge rounded-pill">Bootstrap</span>
                    </div>
                </li>
                <li class="d-flex justify-content-center align-items-center gap-3">
                    <span class="fw-bold custom-color me-2">Backend:</span>
                    <div class="d-flex gap-2">
                        <span class="badge custom-badge rounded-pill">Node.js</span>
                        <span class="badge custom-badge rounded-pill">MongoDB</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- Separación visual -->
    <hr class="my-5 border-secondary opacity-25">

    <!-- Call To Action -->
    <div class="row justify-content-center mt-5">
        <div class="col-lg-8 text-center">
            <p class="text-muted">
                Explorá nuestra plataforma y descubrí un mundo de libros físicos. ¡Unite a nosotros en esta experiencia
                literaria!
            </p>
            <a href="#" class="btn custom-btn-secondary mx-2 mb-3">Explorá Ahora</a>
        </div>
    </div>
</section>