<section class="featured-section">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="col-md-12 text-center mt-5">
        <h2 class="text-white"> Libros Destacados</h2>
        <p class="text-white"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat asperiores recusandae
          quibusdam mollitia. Impedit molestiae illum voluptatem assumenda? Omnis voluptas suscipit numquam inventore
          aspernatur tempora accusantium, cupiditate eligendi totam maxime?</p>
      </div>
      <div class="carousel-item active">
        <div class="container-fluid">
          <div class="row">
            <div class="row">
              <div class="col-lg-3">
                <app-books></app-books>
              </div>
              <div class="col-lg-3">
                <app-books></app-books>
              </div>
              <div class="col-lg-3">
                <app-books></app-books>
              </div>
              <div class="col-lg-3">
                <app-books></app-books>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container-fluid">
          <div class="row">
            <div class="row">
              <div class="col-lg-3">
                <app-books></app-books>
              </div>
              <div class="col-lg-3">
                <app-books></app-books>
              </div>
              <div class="col-lg-3">
                <app-books></app-books>
              </div>
              <div class="col-lg-3">
                <app-books></app-books>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container-fluid">
          <div class="row">
            <div class="row">
              <div class="col-lg-3">
                <app-books></app-books>
              </div>
              <div class="col-lg-3">
                <app-books></app-books>
              </div>
              <div class="col-lg-3">
                <app-books></app-books>
              </div>
              <div class="col-lg-3">
                <app-books></app-books>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<section class="container mt-5">
  <div class="col-md-12 text-center">
    <h2>Ultimos lanzamientos</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat itaque id reprehenderit dolore unde expedita, nostrum velit deserunt totam commodi quae omnis quod, quas voluptatem fugit iusto facilis voluptatum odio.</p>
  </div>

  <div class="row">
    <div class="col-md-4 mt-3">
      <app-books></app-books>
    </div>
    <div class="col-md-4 mt-3">
      <app-books></app-books>
    </div>
    <div class="col-md-4 mt-3">
      <app-books></app-books>
    </div>
    <div class="col-md-4 mt-3">
      <app-books></app-books>
    </div>
    <div class="col-md-4 mt-3">
      <app-books></app-books>
    </div>
    <div class="col-md-4 mt-3">
      <app-books></app-books>
    </div>
  </div>
</section>