.loginScreen {
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.479);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    min-height: 550px;
    width: 60%;
    margin: .5rem;
    z-index: 20;
    background-color: var(--negro);
    border-radius: 2rem;
    display: flex;
}

.login_leftside {
    display: flex;
    width: 90%;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 2rem;
}

.login_image {
    width: 40%;
}

.login_form {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: 60%;
}

.login_rightside {
    border-radius: 2rem;
    background-color: #181529;
    padding-top: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 10%;
}

.anotherLogin {
    width: 50px;
}

.anotherLogin:hover {
    cursor: pointer;
}

.loginText {
    text-align: center;
    font-size: 1rem;
    color: var(--amarillo);
}

.loginTitle {
    color: var(--amarillo);
    font-size: 3rem;
    font-weight: bold;
}

.loginSubTitle {
    font-weight: bold;
    font-size: 1.5rem;
}

.submit {
    font-size: 1.2rem;
    width: 30%;
    font-weight: bold;
    color: black;
    background-color: var(--amarillo);
    padding: .5rem 1rem;
    border-radius: 1rem;
}

.submit:hover {
    background-color: #bd8e00;
}

.formWord {
    color: var(--amarillo);
    font-size: 1.2rem;
}

.loginForm {
    padding: .5rem;
    border: none;
    height: 2rem;
    background-color: #181529;
    width: 100%;
}

.loginForm:focus {
    outline: none;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 80%;
}

.submitClass {
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 100%;
}

.registerButton {
    text-align: center;
}

@media (max-width: 1200px) {
    .login {
        width: 80%;
        min-height: 400px;
        flex-direction: column;
        justify-content: space-between;
    }
    .login_leftside {
        padding-top: 1.5rem;
        flex-direction: column;
        gap: 1rem;
        padding-bottom: 2rem;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .submit {
        width: 150px;
    }
    .login_image {
        display: none
    }
    .login_rightside {
        padding: 1rem;
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }
    .exitButton {
        display: none;
    }
    .anotherLogin {
        width: 30px;
    }
    .loginTitle {
        font-size: 2rem
    }
    .loginText {
        font-size: .8rem;
    }
    .loginSubTitle {
        font-size: 1.3rem;
    }
    .formWord {
        font-size: 1rem;
    }
    .forgotPassword {
        font-size: .9rem;
    }
    .registerButton {
        font-size: .9rem;
    }
    .form{
        width: 100%;
    }
}