.loginScreen {
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.479);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginCuadro {
    min-width: 320px;
    padding: 3rem 3rem;
    background-color: var(--negro);
    border-radius: 2rem;
}

.casinoLogo {
    max-width: 2.5rem;
}

.svgCruz {
    width: 2rem;
}

.svgCruz:hover {
    cursor: pointer;
}

.bienvenida {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formulario {
    margin: 2rem 0 2rem 0;
}

.formLogin {
    display: flex;
    justify-content: space-between;
}

.formularioUl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.formSubmit {
    display: flex;
    justify-content: center;
}

.ingresoForm {
    padding: .5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    border: none;
    color: black;
    border-radius: .5rem;
}

.ingresoForm:focus {
    outline: 0;
}

span {
    color: red;
    cursor: pointer;
}