<div class="header-panel-admin custom-background">
    <div class="container p-2">
        <div class="d-flex align-items-center justify-content-between">
            <div>
                <a routerLink="/inicio" class="d-flex align-items-center">
                    <img src="../../assets/img/Logo.png" alt="Logo de la página web" class="logo img-fluid logo-sm" />
                </a>
            </div>
            <div class="text-center text-white">
                <h3 class="m-0">Panel Admin</h3>
            </div>
        </div>
    </div>
</div>