<div class="card" routerLink="book">
  <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.guim.co.uk%2Fimg%2Fstatic%2Fsys-images%2FGuardian%2FPix%2Fpictures%2F2014%2F7%2F30%2F1406719264487%2Ffd90e162-93de-41b1-aea5-f8e49227e85b-1360x2040.jpeg%3Fw%3D1200%26q%3D55%26auto%3Dformat%26usm%3D12%26fit%3Dmax%26s%3D6aec5983026d71051e0abf881c79ab6f&f=1&nofb=1&ipt=479c4d1f8166b816269321df4bed25b27653325ea4939f47825c0b2ccc39ecdc&ipo=images" alt="book-image" class="card-img-top">
  <div class="card-body">
    <small class="bg-light text-center text-decoration-line-through"> 15.000</small>
    <small class="bg-light text-center ml-3 fw-bold fs-6"> 10.000</small>
  
    <h5 class="mt-1">Harry Potter</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore doloremque in, similique consequatur aliquam reiciendis natus doloribus voluptatibus dolorem id sunt voluptas quia, incidunt, cumque magnam eveniet quos quod exercitationem.</p>
    
  </div>
</div>