<div class="contact-container">
    <div class="container-right">
        <div class="topnav">
            <a class="menu-item" href="">Home</a>
            <a class="menu-item" href="/Contacto">Contacto</a>
            <a class="menu-item" class="login-bottom-topnav" href="/Login">Inicie sesión</a>
            <form>
                <input type="text" class="busquedaText" name="busqueda" placeholder="Encuentre el libro que busca!">
            </form>
        </div>
    </div>
    <div class="container-texto">
        <span class="text-intro-contact">
            ¿No puedes encontrar el libro que buscas? Ó ¿Necesitas ayuda con algo en específico?
            Este es el sitío al que debes acudir! Por favor, complete los datos que se le pedirán
            más abajo.
        </span>
    </div>
    <div class="container-mid">
        <div class="container-datos-izquierda">
            <div class="contact-nombre">
                <input type="text" name="nombre-contacto" id="" placeholder="Ingrese su nombre">
            </div>
            <div class="contact-apellido">
                <input type="text" name="apellido-contacto" id="" placeholder="Ingrese su apellido">
            </div>
            <div class="contact-problema">
                <input type="text" name="problema-contacto" id="" placeholder="Por favor, describa si consulta / problema">
            </div>
        </div>    
        <div class="container-datos-derecha">
            <img src="./assets/Barnie.jpg" alt="">
        </div>    
    </div>
    <div class="container-floor">
        <a class="links-ayuda" href="">Soporte</a>
        <a class="links-ayuda" href="">Ubicación</a>
        <a class="links-ayuda" href="">Instagram</a>
    </div>
</div>