<div class="container mt-4 custom-rounded-shadow p-3 mb-4">
  <h3 class="text-center">Opiniones del libro</h3>
  <div class="row">
    <div class="col-md-5 col-12 text-center mb-3 mb-md-0">
      <p class="calificacion">
        {{ libro ? libro.calificacion : "No disponible" }}
      </p>
    </div>
    <div class="col-md-5 col-12 mb-3 mb-md-0 align-items-start">
      <div class="rating mt-3">
        <span class="star" *ngFor="let star of [1, 2, 3, 4, 5]; let i = index"
          [class.filled]="libro && i < libro.calificacion">&#9733;</span>
      </div>
      <p class="text-gray">X calificaciones</p>
    </div>
  </div>
  <app-comentario-usuario></app-comentario-usuario>
  <!--<app-comentario-usuario></app-comentario-usuario>-->
  <app-nuevo-comentario></app-nuevo-comentario>
  <p class="text-center mas-opiniones"><strong>Mostrar todas las opiniones</strong></p>
</div>