.header {
  position: relative;
  transition: background-color 1s ease;
}

.header.scrolled {
  background-color: rgba(255, 255, 255, 0.9);
}

.header {
  transition: background-color 1s ease;
}

.header.scrolled {
  background-color: rgba(255, 255, 255, 0.9);
}

.logo-sm {
  width: 48px;
  height: auto;
}

/* ANIMACIÓN DE ESCRITURA EN LA BARRA DE BÚSQUEDA */

.typewriter {
  overflow: hidden;
  border-right: 2px solid transparent !important;
  background-color: transparent !important;
  width: 100%;
  animation: typing 6s steps(60, end), blink-caret 0.75s step-end infinite;
}

/* Eliminar el borde negro al hacer clic en el input */
.header input:focus,
.header input:hover,
.header input {
  outline: none;
}

@keyframes typing {
  0% {
    width: 0;
  }

  2% {
    width: 5%;
  }

  4% {
    width: 10%;
  }

  6% {
    width: 15%;
  }

  8% {
    width: 20%;
  }

  10% {
    width: 25%;
  }

  12% {
    width: 30%;
  }

  14% {
    width: 35%;
  }

  16% {
    width: 40%;
  }

  18% {
    width: 45%;
  }

  20% {
    width: 50%;
  }

  100% {
    width: 100%;
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: transparent;
  }
}

.user-options {
  position: absolute;
  right: 0;
  margin-right: 3rem;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
}

.user-image {
  cursor: pointer;
}

.custom-dropdown {
  position: absolute;
  top: 100%;
  margin-right: 9.4%;
  z-index: 1000;
  min-width: var(--bs-dropdown-min-width);
  color: var(--bs-dropdown-color);
  border-radius: 1rem;
}

.dropdown-item {
  cursor: pointer;
  color: var(--bs-nav-link-hover-color);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.overlay.active {
  opacity: 1;
  pointer-events: auto;
}