<div class="header">
  <div class="container p-2">
    <div class="d-flex align-items-center justify-content-between">
      <div>
        <a routerLink="/inicio" class="d-flex align-items-center">
          <img src="../../assets/img/Logo.png" alt="Logo de la página web" class="logo img-fluid logo-sm" />
        </a>
      </div>
      <div class="form-control">
        <form (ngSubmit)="search()" #searchForm="ngForm">
          <input type="text" class="form-control-plaintext" [placeholder]="placeholderText" class="typewriter"
            name="searchTerm" [(ngModel)]="searchTerm" />
          <button type="submit" style="display: none"></button>
        </form>
      </div>
      <div class="d-flex align-items-center">
        <a (click)="showUserOptions = !showUserOptions">
          <img src="../../assets/img/usuario.png" alt="Usuario" class="user-image" />
        </a>
        <div *ngIf="showUserOptions" class="bg-light user-options custom-dropdown" aria-labelledby="navbarDropdown">
          <a *ngIf="!isLoggedIn" class="dropdown-item custom-dropdown-item" routerLink="/identificarse"
            (click)="closeUserOptions()">Iniciar
            sesión</a>
          <a routerLink="/perfil" *ngIf="isLoggedIn" class="dropdown-item custom-dropdown-item mb-2"
            (click)="closeUserOptions()">Mi cuenta</a>
          <a routerLink="/panel-admin" *ngIf="isLoggedIn && isAdmin" class="dropdown-item custom-dropdown-item mb-2"
            (click)="closeUserOptions()">Panel
            Admin</a>
          <a *ngIf="isLoggedIn" class="dropdown-item custom-dropdown-item" (click)="logout()"
            (click)="closeUserOptions()">Cerrar sesión</a>
        </div>
        <a routerLink="/carrito-compras" *ngIf="isLoggedIn"><img src="../../assets/img/carrito-de-compras.png"
            alt="Carrito de compras" class="cart-shopping-image" /></a>
        <a routerLink="/identificarse" *ngIf="!isLoggedIn"><img src="../../assets/img/carrito-de-compras.png"
            alt="Carrito de compras" class="cart-shopping-image" /></a>
      </div>
    </div>
  </div>
</div>

<!-- Modal Panel con Mensaje -->
<div class="overlay" [ngClass]="{ active: isPopupOpen }"></div>
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{ 'd-block': isPopupOpen }">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header mx-5">
        <h4 class="modal-title text-center">Cerrando sesión</h4>
        <button type="button" class="btn-close" (click)="closePopup()" aria-label="Close"></button>
      </div>
      <div class="modal-body mx-5 mt-2">
        <p>Su sesión está siendo cerrada...</p>
      </div>
    </div>
  </div>
</div>