<div class="container-editoriales">
  <div class="editoriales-col">
    <div class="editoriales" *ngFor="let id of editorialesIds; let i = index">
      <img class="img-editorial" [src]="editorialesData[id].imagen" alt="loco">
      <div class="texto-editorial">
        <label>{{editorialesData[id].descripcion}}</label>
      </div>
    </div>
  </div>
  <div class="editoriales-col">
    <div class="editoriales" *ngFor="let id of editorialesIds; let i = index">
      <img class="img-editorial" [src]="editorialesData[id].imagen" alt=" loco">
      <div class="texto-editorial">
        <label>{{editorialesData[id].descripcion}}</label>
      </div>
    </div>
  </div>
  <div class="editoriales-col">
    <div class="editoriales" *ngFor="let id of editorialesIds; let i = index">
      <img class="img-editorial" [src]="editorialesData[id].imagen" alt=" loco">
      <div class="texto-editorial">
        <label>{{editorialesData[id].descripcion}}</label>
      </div>
    </div>
  </div>
  <div class="container-pages shadow rounded-pill">
    <div>
      <button class="page">
        <label>◄</label>
      </button>
    </div>
    <div>
      <a class="page" href="">1</a>
    </div>
    <div>
      <a class="page" href="">2</a>
    </div>
    <div>
      <a class="page" href="">3</a>
    </div>
    <div>
      <button class="page">
        <label>►</label>
      </button>
    </div>
  </div>
</div>