<div class="container-editoriales">
  <div class="editoriales-col">
    <div class="editoriales">
      <img class="img-editorial" src="./assets/img/Editoriales/editorial-bookrack.webp" alt=" loco">
      <div class="texto-editorial">
        <label>Editorial BOOKRACK</label>
      </div>
    </div>
    <div class="editoriales">
      <img class="img-editorial" src="./assets/img/Editoriales/editorial-djaen.webp" alt=" loco">
      <div class="texto-editorial">
        <label>Editorial DJaen</label>
      </div>
    </div>
    <div class="editoriales">
      <img class="img-editorial" src="./assets/img/Editoriales/editorial-gato-malo.webp" alt=" loco">
      <div class="texto-editorial">
        <label>Editorial Gato Malo</label>
      </div>
    </div>
    <div class="editoriales">
      <img class="img-editorial" src="./assets/img/Editoriales/editorial-tierra-de-mu.webp" alt=" loco">
      <div class="texto-editorial">
        <label>Editorial Tierra de Mu</label>
      </div>
    </div>
    <div class="editoriales">
      <img class="img-editorial" src="./assets/img/Editoriales/editorial-vealia.webp" alt=" loco">
      <div class="texto-editorial">
        <label>Editorial Vealia</label>
      </div>
    </div>
  </div>
  <div class="editoriales-col">
    <div class="editoriales">
      <img class="img-editorial" src="./assets/img/Editoriales/editorial-bookrack.webp" alt=" loco">
      <div class="texto-editorial">
        <label>Editorial BOOKRACK</label>
      </div>
    </div>
    <div class="editoriales">
      <img class="img-editorial" src="./assets/img/Editoriales/editorial-djaen.webp" alt=" loco">
      <div class="texto-editorial">
        <label>Editorial DJaen</label>
      </div>
    </div>
    <div class="editoriales">
      <img class="img-editorial" src="./assets/img/Editoriales/editorial-gato-malo.webp" alt=" loco">
      <div class="texto-editorial">
        <label>Editorial Gato Malo</label>
      </div>
    </div>
    <div class="editoriales">
      <img class="img-editorial" src="./assets/img/Editoriales/editorial-tierra-de-mu.webp" alt=" loco">
      <div class="texto-editorial">
        <label>Editorial Tierra de Mu</label>
      </div>
    </div>
    <div class="editoriales">
      <img class="img-editorial" src="./assets/img/Editoriales/editorial-vealia.webp" alt=" loco">
      <div class="texto-editorial">
        <label>Editorial Vealia</label>
      </div>
    </div>
  </div>
  <div class="editoriales-col">
    <div class="editoriales">
      <img class="img-editorial" src="./assets/img/Editoriales/editorial-bookrack.webp" alt=" loco">
      <div class="texto-editorial">
        <label>Editorial BOOKRACK</label>
      </div>
    </div>
    <div class="editoriales">
      <img class="img-editorial" src="./assets/img/Editoriales/editorial-djaen.webp" alt=" loco">
      <div class="texto-editorial">
        <label>Editorial DJaen</label>
      </div>
    </div>
    <div class="editoriales">
      <img class="img-editorial" src="./assets/img/Editoriales/editorial-gato-malo.webp" alt=" loco">
      <div class="texto-editorial">
        <label>Editorial Gato Malo</label>
      </div>
    </div>
    <div class="editoriales">
      <img class="img-editorial" src="./assets/img/Editoriales/editorial-tierra-de-mu.webp" alt=" loco">
      <div class="texto-editorial">
        <label>Editorial Tierra de Mu</label>
      </div>
    </div>
    <div class="editoriales">
      <img class="img-editorial" src="./assets/img/Editoriales/editorial-vealia.webp" alt=" loco">
      <div class="texto-editorial">
        <label>Editorial Vealia</label>
      </div>
    </div>
  </div>
  <div class="container-pages shadow rounded-pill">
    <div>
      <button class="page">
        <label>◄</label>
      </button>
    </div>
    <div>
      <a class="page" href="">1</a>
    </div>
    <div>
      <a class="page" href="">2</a>
    </div>
    <div>
      <a class="page" href="">3</a>
    </div>
    <div>
      <button class="page">
        <label>►</label>
      </button>
    </div>
  </div>
</div>