.content{
    background: linear-gradient(45deg, #000000, #213555, #4F709C, #213555, #000000);
    overflow-x: hidden; /* Evita desbordamiento horizontal en pantallas pequeñas */
}

.solicitudes-container .pagination {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.solicitudes-container div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.navigation {
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #213555;
}
  
nav ul {
    display: flex;
    flex-direction: row;
}

ul li {
    margin: 10px;
}