.solicitudes-container .pagination {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.solicitudes-container div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.navigation {
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #213555;
}
  
ul {
    display: flex;
    flex-direction: row;
}

ul li {
    margin: 10px;
}