<h1>Inicio</h1>

<p>Tus tokens: <b id="tokens">{{usuarioActual?.tokens}}</b></p>

<fieldset class="row">
	<legend><h2>Administración de Tokens</h2></legend>

	<details class="col-12">
		<summary><h3>Envío de tokens</h3></summary>
		<form id=form-enviar>
			<fieldset class="row">
				<input
					type="number"
					name="form-enviar-cantidad"
					id="form-enviar-cantidad"
					step=1
					value=1
					min=1
					max={{usuarioActual?.tokens}}
					required
					class="col"
				>
				<select
					name="form-enviar-usuario"
					id="form-enviar-usuario"
					required
					class="col-8"
				>
					<option value="0" >Elegir destinatario</option>
					
					<option *ngFor="let usuario of amigosReales" value="{{usuario.ID}}">{{usuario.nombreCompleto}}</option>
					
				</select>
				<input
					class="col"
					type=submit
					value="Enviar tokens"
					id=form-enviar-submit
					disabled
					title="Debe elegir un usuario para enviarle tokens."
				>
			</fieldset>
		</form>
	</details>

	<ng-template [ngIf]="puedeGenerarTokens">
		<details class="col-12">
			<summary><h3>Generar tokens</h3></summary> 
			<!-- <form id="form-generar" (submit)="generar"> -->
			<form id="form-generar">
				<fieldset class="row">
					<legend>Generar tokens</legend>
					<input
						type="number"
						name="form-generar-cantidad"
						id=""
						min=1
						step=1
						max={{CANTIDAD_MAXIMA_TOKENS_GENERADOS}}
						required
						placeholder="Cantidad de tokens"
						class="col"
					>
					<input type=submit value=Generar class="col-2">
					<p class="col-12">Tokens en circulación: <b id=tokens-circulando>{{tokensCirculando}}</b></p>
				</fieldset>
			</form>
		</details>
	</ng-template>

</fieldset>

<fieldset class="row">
	<legend><h2>Administración de Amigos</h2></legend>
	<div id="amigos" class="col">
		
		<h3>Invitaciones Recibidas</h3>

		<form *ngFor="let usuario of amigosEntrantes" (submit)="responder($event)" class="col-12 row">
			<input type="hidden" name="usuarioID" value="{{usuario.ID}}">
			<span class="col">{{usuario.nombreCompleto}}</span>
			<button type="submit" value="1" (click)="asignarNombreABoton($event)" class="fas fa-check col-2"></button>
			<button type="submit" value="0" (click)="asignarNombreABoton($event)" class="button error fas fa-ban col-2"></button>
			<!-- TODO Eliminar o aceptar -->
		</form>
		
		<h3>Invitaciones Enviadas</h3>

		<form *ngFor="let usuario of amigosSalientes" (submit)="cancelar($event)" class="col-12 row">
			<input type="hidden" name="usuarioID" value="{{usuario.ID}}">
			<span class="col">{{usuario.nombreCompleto}}</span>
			<button type="submit" class="button error fas fa-xmark col-2"></button>
		</form>
		
		<h3>Amigos</h3>
		<!-- TODO para cada uno de estos, esconder si uno es el invitador o no... -->
		<form *ngFor="let usuario of amigosReales" (submit)="eliminar($event)" class="col-12 row">
			<input type="hidden" name="usuarioID" value="{{usuario.ID}}">
			<span class="col">{{usuario.nombreCompleto}}</span>
			<button type="submit" class="button error fas fa-trash-can col-2"></button>
		</form>
		
	</div>

	<div id="invitaciones" class="col">
		<input type="text" (input)="busqueda($event)" placeholder="Busque por nombre">
		<ng-template [ngIf]="this.mostrarVacio">
			<span>No se han encontrado usuarios.</span>
		</ng-template>
		<fieldset id="resultados" class="row">
			<!-- TODO capturar el submit en el fieldset? -->
			
			<form *ngFor="let usuario of usuariosEncontrados" (submit)="invitar($event)" class="col-12 row">
				<input type="hidden" name="usuarioID" value="{{usuario.ID}}">
				<span class="col">{{usuario.nombreCompleto}}</span>
				<button type="submit" class="fas fa-plus col-2"></button>
			</form>
					
		</fieldset>
	</div>
</fieldset>

<fieldset>
	<legend>
		<h2>Administración de Perfil</h2>
	</legend>
	<div class="row">
		<div class="col-10"></div>
		<button class="col-2 button error" (click)="salir()">Cerrar Sesión</button>
	</div>
</fieldset>