<!-- HEADER ADMIN -->
<div class="custom-background pb-5">
    <div class="header-panel-admin">
        <div class="container p-2">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <a routerLink="/inicio" class="d-flex align-items-center">
                        <img src="../../assets/img/Logo.png" alt="Logo de la página web"
                            class="logo img-fluid logo-sm" />
                    </a>
                </div>
                <div class="text-center text-white">
                    <h3 class="m-0">Panel Admin</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">

        <!-- Encabezado -->
        <div class="row mb-4">
            <div class="col">
                <h3>Panel de Administración - Prosefy</h3>
            </div>
        </div>

        <!-- Sección de Autores -->
        <div class="row mb-4">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3>Autores</h3>
                    </div>
                    <div class="card-body">
                        <a href="#" class="btn btn-primary custom-btn-primary mx-2">Ver Autores</a>
                        <a href="#" class="btn btn-primary custom-btn-secondary mx-2">Crear Nuevo Autor</a>
                        <a href="#" class="btn btn-primary custom-btn-primary mx-2">Editar Autor Existente</a>
                        <a href="#" class="btn btn-primary custom-btn-secondary mx-2">Eliminar Autor Existente</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sección de Editoriales -->
        <div class="row mb-4">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3>Editoriales</h3>
                    </div>
                    <div class="card-body">
                        <a href="#" class="btn btn-primary custom-btn-primary mx-2">Ver Editoriales</a>
                        <a href="#" class="btn btn-primary custom-btn-secondary mx-2">Crear Nueva Editorial</a>
                        <a href="#" class="btn btn-primary custom-btn-primary mx-2">Editar Editorial Existente</a>
                        <a href="#" class="btn btn-primary custom-btn-secondary mx-2">Eliminar Editorial Existente</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sección de Libros -->
        <div class="row mb-4">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3>Libros</h3>
                    </div>
                    <div class="card-body">
                        <a href="#" class="btn btn-primary custom-btn-primary mx-2">Ver Libros</a>
                        <a href="#" class="btn btn-primary custom-btn-secondary mx-2">Crear Nuevo Libro</a>
                        <a href="#" class="btn btn-primary custom-btn-primary mx-2">Editar Libro Existente</a>
                        <a href="#" class="btn btn-primary custom-btn-secondary mx-2">Eliminar Libro Existente</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sección de Ofertas -->
        <div class="row mb-4">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3>Ofertas</h3>
                    </div>
                    <div class="card-body">
                        <a href="#" class="btn btn-primary custom-btn-primary mx-2">Ver Ofertas</a>
                        <a href="#" class="btn btn-primary custom-btn-secondary mx-2">Crear Nueva Oferta</a>
                        <a href="#" class="btn btn-primary custom-btn-primary mx-2">Editar Oferta Existente</a>
                        <a href="#" class="btn btn-primary custom-btn-secondary mx-2">Eliminar Oferta Existente</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>