<div  class="container-ayuda">
  <h3 class="mt-5 mb-4 custom-title">Compras</h3>
  <div class="container-top">
    <div class="etiqueta m-2 left left-primary rounded bg-light text-dark shadow-sm border border-gray">
      <div>
        <label class="class-label">🛍️</label>
        <label class="class-label">Administrar y cancelar compras</label>
      </div>
      <div>
        <a routerLink="/inicio">
          <img class="img-flecha-ayuda" src="./assets/img/flecha-ayuda.png" alt="Imágen-ayuda">
        </a>
      </div>
    </div>
    <div class="etiqueta m-2 left left-primary rounded bg-light text-dark shadow-sm border border-gray">
      <div>
        <label class="class-label">​💵</label>
        <label class="class-label">Devoluciones y reembolsos</label>
      </div>
      <div>
        <a routerLink="/inicio">
          <img class="img-flecha-ayuda" src="./assets/img/flecha-ayuda.png" alt="Imágen-ayuda">
        </a>
      </div>
    </div>
    <div class="etiqueta m-2 left left-primary rounded bg-light text-dark shadow-sm border border-gray">
      <div>
        <label class="class-label">❔​</label>
        <label class="class-label">Preguntas frecuentes compras</label>
      </div>
      <div>
        <a routerLink="/inicio">
          <img class="img-flecha-ayuda" src="./assets/img/flecha-ayuda.png" alt="Imágen-ayuda">
        </a>
      </div>
    </div>
  </div>
  <h3 class="mt-5 mb-4 custom-title">Tu cuenta</h3>
  <div class="container-top">
    <div class="etiqueta m-2 left left-primary rounded bg-light text-dark shadow-sm border border-gray">
      <div>
        <label class="class-label">👤</label>
        <label class="class-label">Configuración de mi cuenta</label>
      </div>
      <div>
        <a routerLink="/inicio">
          <img class="img-flecha-ayuda" src="./assets/img/flecha-ayuda.png" alt="Imágen-ayuda">
        </a>
      </div>
    </div>
    <div class="etiqueta m-2 left left-primary rounded bg-light text-dark shadow-sm border border-gray">
      <div>
        <label class="class-label">​🛡️​</label>
        <label class="class-label">Seguridad</label>
      </div>
      <div>
        <a routerLink="/inicio">
          <img class="img-flecha-ayuda" src="./assets/img/flecha-ayuda.png" alt="Imágen-ayuda">
        </a>
      </div>
    </div>
  </div>
  <h3 class="mt-5 mb-4 custom-title">¿Necesitas más ayuda?</h3>
  <div class="container-top">
    <div class="etiqueta m-2 left left-primary rounded bg-light text-dark shadow-sm border border-gray">
      <div>
        <label class="class-label">📞</label>
        <label class="class-label">¡Contactanos!</label>
      </div>
      <div>
        <a routerLink="/inicio">
          <img class="img-flecha-ayuda" src="./assets/img/flecha-ayuda.png" alt="Imágen-ayuda">
        </a>
      </div>
    </div>
  </div>        
</div>