@media only screen and (max-width: 768px){

    .container-ayuda{
        display: flex;
        flex-direction: column;
        margin-bottom: 35px;
    }

    .etiqueta{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-decoration: none;
        height: 25px;
    }

    .class-label{
        margin-left: 8px;
        font-size: 10px;
    }


    
}


.container-ayuda{
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 15%;
}

.container-top{
    display: flex;
    flex-direction: column;
}

.boton-ayudas{
    margin-left: 10%;
}

.etiqueta{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    height: 45px;
    padding-top: 8px;
    padding-left: 5px;
    padding-right: 5px;

}

.class-label{
    margin-left: 8px;
}

.img-flecha-ayuda{
    width: 30px;
    height: 30px;
}