<div class="dropdown ">
  <div class="dropdown">
    <button class="btn dropdown-toggle btn-dark pt-3 pb-3 px-5 mt-4 mx-5" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Torneos
    </button>
    <ul class="dropdown-menu mx-5" >
      <li><a class="dropdown-item" *ngFor="let torneo of torneos"><a (click)="mostrarPartidos(torneo.id)">{{torneo.nombre_torneo}}</a></a></li>
    </ul>
  </div>
  <div class="container mb-4 mt-4">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <div *ngFor="let partido of partidos" class="col-12 col-md-6 mb-5"> 
        <div class="col" *ngIf="partido.equipos[0] != undefined">
          <div class="card shadow-">
            <div class="card-body text-center">
              <div class="teams mb-2">
                <div class="team home-team fw-bold text-start"> Equipo: {{partido.equipos[0].id}}</div>
                <div class="score fs-4 fw-bold my-2">
                  <span *ngIf="partido.ganador != null" class="fs-5"> Ganador: Equipo {{partido.ganador}}</span>
                  <span *ngIf="partido.ganador == null" class="fs-5"> Ganador no definido</span>
                </div>
                <div class="team away-team fw-bold text-end"> Equipo: {{partido.equipos[1].id}} </div>
              </div>
              <div class="detalles-partido text-muted">
                <span class="Fecha">{{partido.fecha}}</span> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
