<div class="match-result">
    <div class="teams">
      <div class="team home-team">
        <span class="team-name">Equipo Local</span>
      </div>
      <div class="score">
        <span class="score-home">2</span> - <span class="score-away">1</span>
      </div>
      <div class="team away-team">
        <span class="team-name">Equipo Visitante</span>
      </div>
    </div>
    <div class="detalles-partido">
      <span class="Fecha">Numero de fecha</span> |
      <span class="Torneo">Nombre de torneo</span>
    </div>
  </div>