
.fondoLogin {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #213555;
  margin-bottom: -1rem;
}

.wrapper {
  width: 85%;  
  max-width: 400px;  
  border: 2px solid rgba(255, 255, 255, 0.945);
  background-color: #4F709C;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 1.5rem;  
  text-align: center;
  margin-bottom: 2rem;
}

.wrapper h1 {
  font-size: 2rem;  
  margin-bottom: 1.5rem; 
  color: #fff;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  margin-bottom: 0.5rem;  
}

.input-box input {
  width: 100%;
  height: 2.5rem;  
  border: 2px solid rgba(255, 255, 255, 0.945);
  background-color: #4F709C;
  border-radius: 2rem;  
  font-size: 1rem;  
  padding: 0.5rem;  
  margin-left: -0.5rem;
}

.input-box input::placeholder {
  color: #fff;
}

.input-box i {
  position: absolute;
  right: 1rem; 
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.25rem;  
}

.wrapper .remember-forget {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;  
  margin: 1rem 0;  
}

.remember-forget label input {
  accent-color: #fff;
  margin-right: 0.2rem;  
}

.remember-forget a {
  color: #fff;
  text-decoration: none;
}

.remember-forget a:hover {
  text-decoration: underline;
}

.wrapper .btn {
  width: 35%;
  height: 2.5rem;  
  background: #fff;
  border: none;
  outline: none;
  border-radius: 2.5rem; 
  
  cursor: pointer;
  font-size: 1rem;
  color: #333;
  font-weight: 600;
  margin-top: 1rem;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.wrapper .btn:hover {
  background-color: #213555;  
  color: #fff;
}


.wrapper .register-link {
  font-size: 0.9rem;  
  text-align: center;
  margin-top: 1rem; 
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}


.logo{
  width: 180px;
  margin-top: 5px
}  
/* Estilos para el logo */
.logo-content {
  font-size: 15px;
}
