.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  background-color: #f0f0f000;
}

.pagina-restablecer-contrasena h2 {
  color: #ffffff;
  margin-bottom: 20px;
}

.grupo-formulario {
  display: flex;
  flex-direction: column;
   
  margin-bottom: 20px;
  
  align-items: center;
  
}

.grupo-formulario label {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 5px;
}

.grupo-formulario input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.grupo-formulario button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.grupo-formulario button:hover {
  background-color: #0056b3;
}


.message.success{
  padding: 10px;
  margin-bottom: 10px;
  background-color: #00ff00; /* Fondo verde para éxito (código 200) */
  color: #ffffff; /* Texto blanco */
  border: 1px solid #00ff00;
}

.message.error {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ff0000; /* Fondo rojo para errores (códigos 404 o 500) */
  color: #ffffff; /* Texto blanco */
  border: 1px solid #ff0000;
}