<div class="resultados">
  <!-- mt-5 -> margin-top 5 & mb-4 -> margin-bottom: 4 -->
  <h3 class="mt-4 mb-4 custom-h3">Resultados</h3>
</div>

<div class="container">
  <div class="row">
    <!--<div class="col-md-4" *ngFor="let libro of libros">
      <div class="card">
        <img
          class="card-img-top"
          [src]="libro.portada"
          alt="Portada del libro"
        />
        <div class="card-body">
          <h5 class="card-title">{{ libro.titulo }}</h5>
          <div class="rating">
            <span class="star" *ngFor="let star of libro.valoracion"
              >&#9733;</span
            >
          </div>
          <p class="card-text">Autor: {{ libro.autor }}</p>
          <p class="card-text">Editorial: {{ libro.editorial }}</p>
          <p class="card-text">
            Fecha de publicación: {{ libro.fechaPublicacion }}
          </p>
          <p class="card-text">Precio: ${{ libro.precio }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
-->
  </div>
</div>
