<div class="resultados">
  <h3 class="mt-4 mb-4 custom-h3">Resultados</h3>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="vertical-list">
        <div class="book"
          *ngFor="let libroId of librosIds | slice: (currentPage - 1) * itemsPerPage : currentPage * itemsPerPage">
          <ng-container *ngIf="librosData[libroId] as libro">
            <div class="row align-items-center">
              <div class="col-md-4 col-6">
                <a [routerLink]="['/libro-seleccionado', libroId]" class="text-decoration-none">

                  <img class="book-cover" [src]="libro.portada" alt="Portada del libro" />

                </a>
              </div>
              <div class="col-md-8 col-6">
                <div class="d-flex align-items-center justify-content-between">
                  <a [routerLink]="['/libro-seleccionado', libroId]" class="text-decoration-none">

                    <h5 class="book-title">{{ libro.titulo }}</h5>

                  </a>
                  <svg class="heart-icon" [ngClass]="{
                  filled: isInDeseos(librosData[libroId]),
                  'heart-pulse': pulsateStates[libroId]
                }" (click)="toggleDeseo(librosData[libroId])" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24">
                    <path
                      d="M12 21.35l-1.45-1.32C5.4 16.13 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 7.63-8.55 11.54L12 21.35z" />
                  </svg>
                </div>
                <div class="rating">

                  <span class="star" *ngFor="let star of [1, 2, 3, 4, 5]; let i = index"
                    [class.filled]="libro.calificacion !== undefined && i < libro.calificacion">&#9733;</span>

                </div>

                <p class="book-text">
                  {{autoresNombres[libro._id.toString()] ? autoresNombres[libro._id.toString()].join(', ') : ''}}
                  | {{
                  libro.fecha_edicion ? formatearFecha(libro.fecha_edicion) : 'N/A' }}
                </p>

                <p class="card-text precio">
                  ${{ libro.precio !== undefined ?
                  calculatePriceInSelectedCurrency(libro.precio).toLocaleString() : 'N/A' }}
                  <small class="text-muted">{{ currencyService.getCurrency() }}</small>
                </p>

              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-center align-items-center mt-4 custom-pagination">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link custom-page-link" (click)="currentPage = currentPage - 1" aria-label="Previous">
            <span aria-hidden="true">&#60;</span>
          </a>
        </li>
        <li class="page-item">
          <span class="page-link custom-pages">{{ currentPage }} de {{ totalPages }}</span>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a class="page-link custom-page-link" (click)="currentPage = currentPage + 1" aria-label="Next">
            <span aria-hidden="true">&#62;</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>