<div class="container-pagar">
  <!--Lado izquierdo-->
  <div class="container-pagos">
    <app-boton-volver></app-boton-volver>
    <div class="container-pago shadow rounded">
      <div class="text-1">
        <label class="font-style-1">¿Cómo querés pagar?</label>
      </div>
      <div class="text-2">
        <label class="font-style">Con débito</label>
      </div>
      <div class="container-tarjeta mt-5">
        <div class="boton rounded-pill bg-light shadow" [ngStyle]="divStyles" (click)="changeBackgroundColor()"></div>
        <div class="tarjeta rounded shadow bg-light">
          <img class="img-tarjeta rounded mb-2 ml-2" src="./assets/img/Pagar/tarjeta-de-pago.png" alt="img">
          <label class="label-text font-style">Master **** 4563</label>
        </div>
      </div>
      <div class="container-tarjeta mt-5">
        <div class="boton rounded-pill bg-light shadow"></div>
        <div class="tarjeta rounded shadow bg-light">
          <img class="img-tarjeta rounded mb-2 ml-2" src="./assets/img/Pagar/tarjeta-de-pago.png" alt="img">
          <label class="label-text font-style">Nueva tarjeta de débito</label>
        </div>
      </div>
      <div class="text-2">
        <label class="font-style">Con crédito</label>
      </div>
      <label class="cuotas fw-bold">Cuotas</label>
      <div class="container-tarjeta mt-1">
        <div class="boton rounded-pill bg-light shadow"></div>
        <div class="tarjeta rounded shadow bg-light">
          <img class="img-tarjeta rounded mb-2 ml-2" src="./assets/img/Pagar/tarjeta-de-pago.png" alt="img">
          <label class="label-text font-style">Nueva tarjeta de crédito</label>
          <div class="container-contador">
            <button class="fw-bold lead ml-1 btn btn-lg  boton-contador" (click)="disminuirContador()">-</button>
            <h1 class="fw-bold lead ml-1 mt-1">{{ contador }}</h1>
            <button class="fw-bold lead ml-1 btn btn-lg " (click)="aumentarContador()">+</button>
          </div>
        </div>
      </div>
      <div class="text-2">
        <label class="font-style">Con otras formas de pago</label>
      </div>
      <div class="container-tarjeta mt-5">
        <div class="boton rounded-pill bg-light shadow"></div>
        <div class="tarjeta rounded shadow bg-light">
          <img class="img-tarjeta rounded mb-2 ml-2" src="./assets/img/Pagar/efectivo.png" alt="img">
          <label class="label-text font-style">Master **** 4563</label>
        </div>
      </div>
      <div class="boton-abajo">
        <a href="" class="boton-comprar rounded font-style"> Comprar</a>
      </div>
    </div>
    <div class="marg"></div>
  </div>
  <div class="container-resumen bg-light">
    <div class="carrito">
      <img src="./assets/img/Pagar/carrito-realista.png" class="img-carrito">
    </div>
    <div>
      <p class="text-3 font-style-1">Resumen de compra</p>
    </div>
    <div class="container-detalle">
      <div class="detalle">
        <div>
          <label class="font-style">Productos</label>
        </div>
        <div>
          <label class="font-style">$10.000</label>
        </div>
      </div>
      <div class="productos">
        <div class="libros">
          <ul>
            <li class="fw-bold lead">Libro 1</li>
          </ul>
        </div>
        <div class="precios">
          <label class="fw-bold lead ml-1">$10.000</label>
        </div>
      </div>
      <div class="detalle">
        <div>
          <label class="font-style lead">Envio</label>
        </div>
        <div>
          <label class="font-style">$500</label>
        </div>
      </div>
    </div>
    <div class="total">
      <label class="font-style-1 text-3">Total:</label>
      <label class="font-style-1 text-3 text-primary">$10.500</label>
    </div>
    <div>
      <p class="text-1 font-style">¡Si compras hoy, tu pedido llegará mañana!</p>
    </div>
  </div>
</div>