/* Estilos del footer */
.footer {
  background-color: #4F709C;
  color: white;
  padding: 20px 0;
  margin-top: 10px;
}
  
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.social-icons {
  margin-top: 10px;
}
  
.social-icons img {
  width: 30px;
  margin: 0 5px;
}
  