.libros-recomendados {
  text-align: center;
  margin: 20px;
}

.lista-libros {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton-izquierda,
.boton-derecha {
  background: none;
  border: none;
  cursor: pointer;
}

.lista-contenedor {
  overflow: hidden;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.elementos-lista {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  width: max-content;
  transition: transform 0.3s ease-in-out;
  width: 100%;
  white-space: nowrap;
  /* Evita que los elementos se dividan en múltiples líneas */
}

.elemento-lista {
  flex: 0 0 calc(20% - 10px);
  /* Ajusta el tamaño de los elementos */
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .elemento-lista {
    flex-basis: calc(25% - 10px) !important;
    /* 4 elementos por fila */
  }
}

@media (max-width: 767px) {
  .elemento-lista {
    flex-basis: calc(33.33% - 10px) !important;
    /* 3 elementos por fila */
  }
}

@media (max-width: 619px) {
  .elemento-lista {
    flex-basis: calc(50% - 10px) !important;
    /* 2 elementos por fila */
  }
}

.libro {
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.descripcion {
  font-size: 1em;
  /* Tamaño de fuente relativo */
  white-space: pre-line;
  /* Permite los saltos de línea */
  word-wrap: break-word;
  /* Rompe las palabras largas */
}

.precio {
  font-size: 1.6em;
  /* Tamaño de fuente relativo */
  font-weight: bold;
  margin-bottom: 0;
}

/* Estilo para los enlaces dentro de las tarjetas */
.libro a {
  color: inherit;
  /* Hereda el color del texto circundante */
  width: 100%;
  /* Tarjeta ocupa el 100% del ancho del contenedor padre */
  margin-right: 2%;
  /* Margen derecho para espaciar las tarjetas en pantallas grandes */
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0);
    /* Comienza con un tamaño de escala de cero */
  }

  to {
    opacity: 1;
    transform: scale(1);
    /* Termina con el tamaño de escala normal (1) */
  }
}

.hover-grow {
  transition: transform 0.3s ease-in-out;
  will-change: transform;
}

.hover-grow:hover {
  transform: scale(1.1);
}

/* Estilos para los botones modernos */
.boton-moderno {
  color: black;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  transition: 0.3s;
  padding-left: 1rem;
  padding-right: 1rem;
}

.boton-moderno:hover {
  transform: scale(1.1);
  /* Aumento de tamaño al hacer hover */
}

.disabled {
  color: #c0c0c0;
  /* Cambia el color a gris claro */
  cursor: not-allowed;
  /* Cambia el cursor a 'no permitido' */
}

/* Estilo para los cuadrados con esquinas redondeadas */
.rounded-button {
  display: inline-block;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid #757575;
  transition: 0.3s;
}

.rounded-button:hover {
  transform: scale(1.1);
  /* Aumento de tamaño al hacer hover */
}

.px-2 {
  padding-left: 2 !important;
  padding-right: 2 !important;
}

/* Estilo para el texto "ARS" y "USD" */
.text-muted {
  font-size: 70%;
  vertical-align: middle;
  color: #714f3c;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.tarjeta-imagen {
  width: 100%;
  max-width: 100%;
  height: auto;
}