<!-- lista-libros.component.html -->

<div class="container-fluid d-flex justify-content-center align-items-center flex-column py-2">
  <div class="lista-libros">
    <div class="rounded-button shadow d-flex justify-content-center align-items-center">
      <button class="btn boton-izquierda boton-moderno" (click)="moverIzquierda()" [class.disabled]="elementosAlInicio">
        &lt;
      </button>
    </div>
    <div class="lista-contenedor container-fluid">
      <div class="elementos-lista py-4 container-fluid">
        <div *ngFor="let libroId of librosIds.slice(elementoActual, elementoActual + elementosPorPaso); let i = index">
          <div class="libro card">
            <a [routerLink]="['/libro-seleccionado', libroId]" class="text-decoration-none">
              <ng-container *ngIf="librosData[libroId]">
                <img src="{{ librosData[libroId].portada }}" alt="Portada del libro"
                  class="card-img-top tarjeta-imagen" />
                <div class="card-body">
                  <p class="card-text precio">
                    ${{ librosData[libroId].precio !== undefined ? (librosData[libroId].precio | number:'1.2-2') : 'N/A'
                    }}
                    <small class="text-muted">
                      {{ currencyService.getCurrency() }}
                    </small>
                  </p>
                  <!--<p class="card-text descripcion">
                    {{ (librosData[libroId].descripcion | async || '').slice(0, descripcionMaxLength) }}
                    {{ (librosData[libroId].descripcion | async)?.length > descripcionMaxLength ? '...' : '' }}
                  </p>-->
                </div>
              </ng-container>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="rounded-button shadow d-flex justify-content-center align-items-center">
      <button class="btn boton-derecha boton-moderno" (click)="moverDerecha()" [class.disabled]="elementosAlFinal">
        &gt;
      </button>
    </div>
  </div>
</div>