@media only screen and (max-width: 768px) {

    .container-navbar {
        width: auto;
        height: 30px;
        display: flex;
        flex-direction: column !important;
        margin-left: 20%;
        margin-top: 50px;
        margin-right: 20%;
    }

    .item-menu {
        color: rgb(51, 51, 51);
        text-decoration: none;
        text-align: center !important;
        border-left: solid 0px !important;
    }

    .boton-info-usuario {
        justify-content: center !important;
        margin-right: 30% !important;
    }

    .collapse {
        background-color: white;
        border: solid 1px rgb(209, 209, 209);
    }
}


.container {
    display: flex;
    flex-direction: column;
}


.img-usuario {
    display: flex;
    justify-content: center;
}

.imagen-usuario-azul {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.container-navbar {
    text-align: center;
    width: auto;
    height: 50px;
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    margin-top: 50px;
    margin-right: 20%;
    padding-bottom: 5px;
}


.item-menu {
    color: rgb(51, 51, 51);
    text-decoration: none;
    text-align: center !important;
    border-left: solid 1px black;
}

.navbar {
    box-shadow: none !important;
}

.custom-perfil {
    max-width: 200px;
}

.nav-link {
    cursor: pointer;
}

.custom-btn-primary {
    background-color: #bd8464;
    border-color: #bd8464;
}

.custom-btn-primary:hover,
.custom-btn-primary:active {
    background-color: #976950;
    border-color: #976950;
}

.custom-btn-secondary {
    background-color: #fff;
    border-color: #cecece;
    color: #646464;
}

.custom-btn-secondary:hover,
.custom-btn-secondary:active {
    background-color: #eeeeee;
    border-color: #afafaf;
}


.form-group {
    text-align: center;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.custom-btn-primary,
.custom-btn-secondary {
    width: 50%;
    margin-bottom: 1rem;
}

.form-control {
    background-color: #fff !important;
    width: 80% !important;
    margin: 0 auto !important;
}

.custom-input {
    width: 45% !important;
    display: inline-block !important;
    margin-right: 1% !important;
}

@media (max-width: 767px) {
    .custom-input {
        width: 100% !important;
        display: block !important;
        margin-right: 0 !important;
    }

    .button-group {
        width: 100%;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.overlay.active {
    opacity: 1;
    pointer-events: auto;
}