@media only screen and (max-width: 768px) {

    .container-navbar {
        width: auto;
        height: 30px;
        display: flex;
        flex-direction: column !important;
        margin-left: 20%;
        margin-top: 50px;
        margin-right: 20%;
    }

    .item-menu {
        color: rgb(51, 51, 51);
        text-decoration: none;
        text-align: center !important;
        border-left: solid 0px !important;
    }

    .boton-info-usuario {
        justify-content: center !important;
        margin-right: 30% !important;
    }

    .collapse {
        background-color: white;
        border: solid 1px rgb(209, 209, 209);
    }
}


.container {
    display: flex;
    flex-direction: column;
}


.img-usuario {
    display: flex;
    justify-content: center;
}

.imagen-usuario-azul {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.container-navbar {
    text-align: center;
    width: auto;
    height: 50px;
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    margin-top: 50px;
    margin-right: 20%;
    padding-bottom: 5px;
}


.item-menu {
    color: rgb(51, 51, 51);
    text-decoration: none;
    text-align: center !important;
    border-left: solid 1px black;
}

.navbar {
    box-shadow: none !important;
}

.custom-perfil {
    max-width: 200px;
}