<app-header></app-header>
<app-navbar></app-navbar>
<h2 class="text-center mt-5 custom-title">Perfil de usuario</h2>
<div class="img-usuario">
  <img class="imagen-usuario-azul" src="./assets/img/usuario-azul.jpg" alt="loco">
</div>
<h2 class="text-center mt-5 custom-title">Mis datos</h2>
<div class="container-navbar shadow-sm">
  <a class="item-menu" href=""></a>
  <a class="item-menu" href=""></a>
  <a class="item-menu" href=""></a>
  <a class="item-menu" href=""></a>
  <a class="item-menu" href=""></a>
  <a class="item-menu" href=""></a>
</div>
<app-info-usuario></app-info-usuario>
<app-footer></app-footer>
