<app-header></app-header>
<app-navbar></app-navbar>
<div class="container">
  <h2 class="text-center mt-5 custom-title">Perfil de usuario</h2>
  <div class="img-usuario">
    <img class="imagen-usuario-azul" src="./assets/img/usuario-azul.jpg" alt="loco">
  </div>
  <!-- app.component.html o tu componente de barra de navegación -->
  <nav class="navbar navbar-expand-lg container-navbar">
    <a class="navbar-brand" href="#"></a>
    <div class="boton-info-usuario">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Mis datos</a>
        </li>
        <li class="nav-item item-menu">
          <a class="nav-link" href="#">Mis pedidos</a>
        </li>
        <li class="nav-item item-menu">
          <a class="nav-link" href="#">Mis reseñas</a>
        </li>
        <li class="nav-item item-menu">
          <a class="nav-link" href="#">Medios de pago</a>
        </li>
        <li class="nav-item item-menu">
          <a class="nav-link" href="#">Eliminar cuenta</a>
        </li>
      </ul>
    </div>
  </nav>

  <!--
  <div class="container-navbar shadow-sm bg-light">
    <a class="item-menu" href="">Mis datos</a>
    <a class="item-menu" href="">Mis datos</a>
    <a class="item-menu" href="">Mis pedidos</a>
    <a class="item-menu" href="">Mis reseñas</a>
    <a class="item-menu" href="">Medios de pago</a>
    <a class="item-menu" href="">Eliminar cuenta</a>
  </div>-->
  <h2 class="text-center mt-5 custom-title">Mis datos</h2>
</div>
<app-info-usuario></app-info-usuario>
<app-footer></app-footer>
