<div class="container">
  <div class="row mt-5">
    <div class="col-12 text-center">
      <h2 class="custom-title">Perfil de usuario</h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4 mt-4">
      <div class="img-usuario">
        <img class="img-fluid rounded-circle custom-perfil" src="./assets/img/usuario-azul.jpg" alt="Usuario">
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <nav class="navbar navbar-expand-lg navbar-light container-navbar">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Mis datos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Mis pedidos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Mis reseñas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Medios de pago</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="eliminarCuenta()">Eliminar cuenta</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <h2 class="custom-title">Mis datos</h2>
    </div>
  </div>
</div>
<app-info-usuario></app-info-usuario>

<!-- Modal Panel con Mensaje -->
<div class="overlay" [ngClass]="{ active: isPopupOpen }"></div>
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{ 'd-block': isPopupOpen }">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header mx-5">
        <h4 class="modal-title text-center">Confirmación</h4>
        <button type="button" class="btn-close" (click)="closePopup()" aria-label="Close"></button>
      </div>
      <div class="modal-body mx-5 mt-2">
        <p>¿Estás seguro de que querés eliminar tu cuenta?</p>
      </div>
      <div class="modal-footer d-flex justify-content-center mt-5">
        <button type="button" class="btn btn-primary mx-5 custom-btn-primary"
          (click)="confirmarEliminarCuenta()">Aceptar</button>
        <button type="button" class="btn btn-primary mx-5 custom-btn-secondary" (click)="closePopup()">Cancelar</button>
      </div>
    </div>
  </div>
</div>