<div class="custom-background pb-5 pt-2">
    <app-boton-volver></app-boton-volver>
    <div class="container pt-4">
        <div class="row mb-4">
            <div class="col">
                <h3>Todos los usuarios</h3>
            </div>
        </div>
        <div class="row">
            <div *ngFor="let usuarioId of usuariosIds" class="col-md-4 mb-4">
                <ng-container *ngIf="usuariosData[usuarioId]">
                    <div class="card">
                        <img [src]="usuariosData[usuarioId].avatar || 'assets/img/usuario.png'" class="card-img-top"
                            alt="Avatar del Usuario">
                        <div class="card-body">
                            <p class="card-text highlight-text px-2 py-1 rounded-pill" *ngIf="usuariosData[usuarioId]">
                                {{
                                usuariosData[usuarioId].tipo || 'Tipo no
                                disponible' }}</p>
                            <h5 class="card-title mt-3" *ngIf="usuariosData[usuarioId]">
                                {{ (usuariosData[usuarioId].nombre || 'Nombre no disponible') + ' ' +
                                (usuariosData[usuarioId].apellido || 'Apellido no disponible') }}
                            </h5>
                            <p class="card-text" *ngIf="usuariosData[usuarioId]">{{ usuariosData[usuarioId].email ||
                                'Email
                                no disponible' }}</p>

                            <!-- Campo de desplegable para cambiar el rol del usuario -->
                            <div *ngIf="usuarioEditandoId === usuarioId" class="m-2 mb-4">
                                <label for="nuevoTipo" class="mb-2">Cambiar rol:</label>
                                <select id="nuevoTipo" [(ngModel)]="nuevoTipo" class="form-control bg-dark text-light">
                                    <option value="usuario">Usuario</option>
                                    <option value="admin">Admin</option>
                                </select>
                            </div>

                            <button class="btn btn-primary custom-btn-primary mx-2" (click)="editarUsuario(usuarioId)">
                                {{ usuarioEditandoId === usuarioId ? 'Guardar' : 'Editar' }}
                            </button>
                            <button class="btn btn-primary custom-btn-secondary mx-2"
                                (click)="eliminarUsuario(usuarioId)">Eliminar</button>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>