<section>
    <form>
        <div>
            <a>Nro: </a><input type="text" placeholder="Filter by city" />
        </div>
        <div>
            <a>Tipo de Volquete: </a><input type="text" placeholder="Filter by city" />
        </div>
        <div>
            <a>Fecha de Compra: </a><input type="text" placeholder="Filter by city" />
        </div>
        <div>
            <a>Fecha de Fabricacion: </a><input type="text" placeholder="Filter by city" />
        </div>
        <div>
            <a>Marca: </a><input type="text" placeholder="Filter by city" />
        </div>
        <div>
        <button class="primary" type="button">Search</button>
        </div>
    </form>
</section>