.anuncio-card {
  width: 60rem;
  height: 10rem;
  display: grid;
    grid-template-columns: 30% 20% 50%;
      /* Divide la tarjeta en dos columnas */
      grid-template-rows: auto auto 1fr;
      /* Ajusta automáticamente la altura de las filas */
      gap: 10px;
      /* Espaciado entre elementos */
    grid-auto-flow: row;
    grid-template-areas:
    " titulo . fecha"
      "nombre .  ubicacion"
      ".   boton .";
    padding: 0px;
      /* Aumenta el espacio interno para pantallas de PC */
      background-color: #213555;
      border-radius: 12px;
      margin: 0 auto;
      /* Centra horizontalmente en la pantalla */
      margin-top: 15vh;
      /* Centra verticalmente en la mitad de la pantalla */
      transition: all 0.5s;
      cursor: pointer;
      border: 1px solid #ffffff;
}
.anuncio-card:hover {
  background-color: #506f99;
  border-radius: 10px;
}

.anuncio-fullcontent {
  height: 35rem;
  display: grid;
  width: 70rem;
  grid-template-columns: 20% 30% 30% 20%;
  grid-template-rows: 5% 5% 60% 15% 15%;
  gap: 5px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    " titulo titulo ubicacion ubicacion"
    " fecha fecha nombre nombre"
    " foto foto descripcion descripcion"
    " foto foto  descripcion descripcion"
    " . boton . presu";
    padding: 15px;
      /* Aumenta el espacio interno para pantallas de PC */
      background-color: #213555;
      border-radius: 12px;
      margin: 0 auto;
      /* Centra horizontalmente en la pantalla */
      margin-top: 15vh;
      /* Centra verticalmente en la mitad de la pantalla */
      transition: all 0.5s;
      cursor: pointer;
      border: 1px solid #ffffff;
}
img{
    width: 300px;
    height: 100%;
}

.fecha{
  grid-area: fecha;
  color: #ffffff;
  font-size: 0.6rem;
  text-align: center;
}
.ubicacion{
  color: #ffffff;
  font-size: 0.6rem;
  text-align: center;
  grid-area: ubicacion;
}
.photo {
  grid-area: foto;
}

.titulo {
  grid-area: titulo;
  color: #ffffff;
  font-size: 1rem;
  text-align: left;
  /* Alinea el texto del título a la izquierda */
  margin-left: 10px;
  /* Agrega un margen a la izquierda del título */
}

.descripcion {
  color: #dee0f1d8;
  grid-area: descripcion;
  font-size: 1rem;
  text-align: center;
}

.nombre {
  color: #dee0f1d8;
  grid-area: nombre;
  font-size: 1rem;
  text-align: center;
}
.presu{

  width: 130px;
  grid-area: presu;
  height: 28px;
  margin-bottom: 0.8rem;
  color: #000000;
  cursor: pointer;
  border-radius: 1rem;
  border: solid 1px #000000;
  background-color: #dee0f1d8;
  text-decoration: none;
  background-color: transparent;
}
.presu:hover{
  border-radius: 1rem;
  border: solid 1px #000000;
  background-color: #213555;
}
.boton {
  width: 130px;
  grid-area: boton;
  height: 28px;
  margin-bottom: 0.8rem;
  color: #000000;
  cursor: pointer;
  border-radius: 1rem;
  border: solid 1px #000000;
  background-color: #dee0f1d8;
    }
  
.boton:hover {
  border-radius: 1rem;
  border: solid 1px #000000;
  background-color: #213555;
    }

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .anuncio-card {
    width: 300px;
    grid-template-columns: 1fr;
    /* Cambia a una sola columna en pantallas pequeñas */
    grid-template-areas:
      "ubicacion"
      "fecha"
      "titulo"
      "nombre";
  }
.anuncio-fullcontent {
    display: grid;
      width: 100%;
      grid-template-columns: 20% 30% 30% 20%;
      grid-template-rows: 5% 5% 60% 20% 10%;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        " titulo titulo ubicacion ubicacion"
        " fecha fecha nombre nombre"
        "foto foto foto foto"
        "descripcion descripcion descripcion descripcion"
        "boton boton presu presu";
}
}