<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container bg-dark justify-content-center ">
    <div class="col"><form class="text-light">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">CORREO ELECTRONICO</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text text-light">No compartas tu correo electronico</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">CONTRASEÑA</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-light">Ingresar</button>
        <button class="btn text-dark" style="background-color: #9ae8f5; border-color: #87e0f2;">
            <a class="nav-link active" routerLink="registro">REGISTRARSE</a></button>
       </form>
    </div>    
    </div>
</body>
</html>
