<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicia sesión o Crea un usuario</title>
    <link rel="stylesheet" href="login.component.scss">
    
</head>

<body>

    <main>
        <div class="contenedor_global">

            <div class="caja_trasera">
                <div class="caja_trasera-login">
                    <h3>¿Ya tienes cuenta?</h3>
                    <p>Inicia sesión para entrar a la página</p>
                    <button id="btn_inicio_sesion">Iniciar Sesión</button>
                </div>

                <div class="caja_trasera-registro">
                    <h3>¿Aún no tienes cuenta?</h3>
                    <p>Registrate para que puedas iniciar sesión</p>
                    <button id="btn_registro">Registrate</button>

                </div>
            </div>

            <div class="contenedor_logueo_registro">
                <form action="" class="Login">
                    <h2>Iniciar Sesion</h2>
                    <input type="text" placeholder="Nombre de Usuario">
                    <input type="password" placeholder="Contraseña">
                    <button>Ingresar</button>
                </form>

                <form action="" class="Registro">
                    <h2>Registro</h2>
                    <input type="text" placeholder="Nombre de Usuario">
                    <input type="password" placeholder="Contraseña">
                    <input type="text" placeholder="Nombre">
                    <input type="text" placeholder="Apellido">
                    <input type="date" placeholder="dd/mm/yyyy">
                    <input type="text" placeholder="Correo Electrónico">
                    <button>Registrarse</button>
                </form>
            </div>

        </div>
    </main>
    
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-logo">
                <img src="../../assets/images/football.jpg" alt="LigaVirtual Logo">
            </div>
            <div class="footer-columns">
                <div class="footer-column">
                    <h3>ENLACES RÁPIDOS</h3>
                    <ul>
                        <li><a href="#">Todos los partidos</a></li>
                        <li><a href="#">Todos los torneos</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>NOSOTROS</h3>
                    <ul>
                        <li><a href="#">Contacto</a></li>
                        <li><a href="#">Centro de ayuda</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>ASOCIARSE CON NOSOTROS</h3>
                    <ul>
                        <li><a href="#">Publicaciones</a></li>
                        <li><a href="#">Asocia Tu Marca</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>LEGAL</h3>
                    <ul>
                        <li><a href="#">Aviso Legal</a></li>
                        <li><a href="#">Política de privacidad</a></li>
                        <li><a href="#">Términos y Condiciones</a></li>
                        <li><a href="#">Licencias</a></li>
                        <li><a href="#">Configuración de privacidad</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>MÁS LigaVirtual</h3>
                    <ul>
                        <li><a href="#">App Store</a></li>
                        <li><a href="#">Google Play</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© 2024 LigaVirtual</p>
        </div>
    </footer>

</body>
</html>