<!-- Sticky-top mantiene el header y el nav arriba aunque el usuario se desplace -->
<div class="sticky-top">
  <div class="header">
    <div class="container">
      <div class="d-flex align-items-center justify-content-between">
        <div>
          <a routerLink="/inicio">
            <!-- Al hacer clic sobre el logo va a la página de inicio -->
            <img
              src="../../assets/img/Logo.png"
              alt="Logo de la página web"
              class="logo"
          /></a>
        </div>
        <div class="form-control">
          <input
            type="text"
            class="form-control-plaintext"
            placeholder="Buscar..."
          />
        </div>
        <div class="d-flex align-items-center">
          <a href="#">
            <img
              src="../../assets/img/usuario.png"
              alt="Usuario"
              class="user-image"
          /></a>
          <a href="#"
            ><img
              src="../../assets/img/carrito-de-compras.png"
              alt="Carrito de compras"
              class="cart-shopping-image"
          /></a>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-light bg-light">
    <div class="container-fluid">
      <ul class="navbar-nav-localidad">
        <li class="nav-item">
          <!-- Abre el popup al hacer clic sobre "Localidad" -->
          <a class="nav-link" (click)="openPopup()">📫 Localidad</a>
        </li>
      </ul>
      <!-- Convierte los enlaces del nav en un toggler para móviles y tablets -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#navbarOffcanvasLg"
        aria-controls="navbarOffcanvasLg"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="offcanvas offcanvas-end bg-light"
        tabindex="-1"
        id="navbarOffcanvasLg"
        aria-labelledby="navbarOffcanvasLgLabel"
      >
        <div class="offcanvas-header">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <ul class="navbar-nav ml-auto mx-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/inicio">Inicio</a>
          </li>
          <li class="nav-item dropdown">
            <!-- Permite que se "desplieguen" los enlaces de la sección "Categorías" -->
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Categorías
            </a>
            <div
              class="dropdown-menu bg-light"
              aria-labelledby="navbarDropdown"
            >
              <!-- Diferentes enlaces de la sección "Categoría" en el nav -->
              <a class="dropdown-item" href="#">Ficción</a>
              <a class="dropdown-item" href="#">No ficción</a>
              <a class="dropdown-item" href="#">Literatura infantil</a>
              <a class="dropdown-item" href="#">Educación y referencia</a>
              <a class="dropdown-item" href="#">Ciencia y naturaleza</a>
              <a class="dropdown-item" href="#">Religión y espiritualidad</a>
              <a class="dropdown-item" href="#">Política y sociedad</a>
              <a class="dropdown-item" href="#">Salud y bienestar</a>
              <a class="dropdown-item" href="#">Negocios y finanzas</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <!-- Permite que se "desplieguen" los enlaces de la sección "Formatos" -->
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Formatos
            </a>
            <div
              class="dropdown-menu bg-light"
              aria-labelledby="navbarDropdown"
            >
              <!-- Diferentes enlaces de la sección "Formatos" en el nav -->
              <a class="dropdown-item" href="#">Físicos</a>
              <a class="dropdown-item" href="#">Ebooks</a>
              <a class="dropdown-item" href="#">Audiolibros</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/autores">Autores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/editoriales">Editoriales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/ofertas">Ofertas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/ayuda">Ayuda</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Oscurece el contenido de la página al abrir el popup "Localidades" -->
    <div class="overlay" [ngClass]="{ active: isPopupOpen }"></div>
    <!-- TODO: Popup Modal, falta agregarle las direcciones y ubicaciones del usuario -->
    <div
      class="modal"
      tabindex="-1"
      role="dialog"
      [ngClass]="{ 'd-block': isPopupOpen }"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header mx-5">
            <h4 class="modal-title">Elegí dónde recibir tus compras</h4>
            <!-- Botón "X" para cerrar el popup -->
            <button
              type="button"
              class="btn-close"
              (click)="closePopup()"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body mx-5">
            <p class="font-weight-bold">En una de tus direcciones</p>
            <p>...</p>
            <p class="font-weight-bold">En otra ubicación</p>
            <p>...</p>
          </div>
          <div class="modal-footer d-flex justify-content-between">
            <!-- TODO: Botón "Guardar Cambios", no hace nada aún -->
            <button type="button" class="btn btn-primary mx-5">
              Guardar cambios
            </button>
            <!-- Botón "Cancelar" para cerrar el popup -->
            <button
              type="button"
              class="btn btn-secondary mx-5"
              (click)="closePopup()"
            >
              Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
