<div class="autores-nuevos">
  <!-- mt-5 -> margin-top 5 & m-4 -> margin: 4 -->
  <h3 class="m-4 mt-5">Autores nuevos</h3>
  <div class="lista-autores">
    <!-- Botón para que se mueva a la izquierda la lista -->
    <button
      class="boton-izquierda boton-moderno"
      (click)="moverIzquierda()"
      [class.disabled]="elementosAlInicio"
    >
      <!-- "class.disabled" detecta si se llegó al final y deshabilita el botón -->
      &lt;
      <!-- &lt Representa el símbolo "<" para el botón -->
    </button>
    <div class="lista-contenedor">
      <!-- p-4 -> padding: 4 -->
      <div class="elementos-lista p-4">
        <!-- Directiva *ngFor para iterar sobre la colección de autores
        Consultar en: autores-populares.component.ts -->
        <div
          *ngFor="
            let autor of autores.slice(
              elementoActual,
              elementoActual + elementosPorPaso
            );
            let i = index
          "
          class="elemento-lista elemento-animado animacion-tarjeta hover-grow"
        >
          <div class="autor card">
            <a href="#" class="text-decoration-none">
              <!-- Elementos a mostrar de cada autor -->
              <img
                src="{{ autor.perfil }}"
                alt="Perfil del autor"
                class="card-img-top tarjeta-imagen d-flex align-items-center justify-content-center"
              />
              <div class="card-body">
                <p class="card-text nombre-completo">
                  <!-- Divide el nombre en dos líneas, uno para el nombre y otro para el apellido -->
                  {{ autor.nombreCompleto.split(" ").slice(0, -1).join(" ")
                  }}<br />{{
                    autor.nombreCompleto.split(" ").slice(-1).join(" ")
                  }}
                </p>
              </div></a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- Botón para que se mueva a la derecha la lista -->
    <button
      class="boton-derecha boton-moderno"
      (click)="moverDerecha()"
      [class.disabled]="elementosAlFinal"
    >
      <!-- "class.disabled" detecta si se llegó al final y deshabilita el botón -->
      &gt;
      <!-- &gt Representa el símbolo ">" para el botón -->
    </button>
  </div>
</div>
