<div id="carouselOferta" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="../../assets/img/oferta1.jpg"
        class="d-block w-100"
        alt="Oferta 1"
      />
    </div>
    <div class="carousel-item">
      <img
        src="../../assets/img/oferta2.jpg"
        class="d-block w-100"
        alt="Oferta 2"
      />
    </div>
    <div class="carousel-item">
      <img
        src="../../assets/img/oferta3.jpg"
        class="d-block w-100"
        alt="Oferta 3"
      />
    </div>
    <!-- Agregar más ofertas (carousel-item) según se necesite -->
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselOferta"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselOferta"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
  </a>
</div>
