.pc-container {
    display: flex; 
    padding: 1.25rem; 
    flex-direction: column; 
    gap: 1.25rem; 
    margin-top: 100px;
    color: #ebe9fc;
}

.pc-title {
    font-size: 1.5rem;
    line-height: 2rem; 
    font-weight: 700; 
}

.pc-data {
    padding: 1.25rem; 
    background: var(--purple-light);
    border-radius: 1rem;
}

.pc-item {
    padding-top: 1.25rem; 
    font-size: 1.5rem;
    line-height: 2rem; 
    font-weight: 700; 
}

@media (min-width: 768px) { 
    .pc-item {
        font-size: 1.875rem;
        line-height: 2.25rem; 
    }
}