<div class="container-perfil-usuario" *ngFor="let usuario of usuarios">
  <!-- Primer encabezado-->
  <div class="encabezado">
    <h3 class="mt-5 mb-4">Perfil</h3>
  </div>
  <!--Datos del usuario-->  
  <div class="container-perfil">
    <!--Primer bloque-->
    <div class="datos">
      <!--Secciones de cada dato-->
      <div class="datos-personales etiqueta-color rounded">
        <div>
          <span>
            <label>Nombre</label>
          </span>
        </div>
        <div>
          <label>{{usuario.nombre}}</label>
          <img class="img-lápiz" src="./assets/img/lápiz-perfil-usuario.png" alt="">
        </div>
      </div>
      <!--Otra seccion más-->
      <div class="datos-personales">
        <div>
          <span>
            <label>Email</label>
          </span>
        </div>
        <div>
          <label>{{usuario.email}}</label>
          <img class="img-lápiz" src="./assets/img/lápiz-perfil-usuario.png" alt="">
        </div>
      </div>        
    </div>
    <div class="espacio"></div>
    <!--Segundo bloque-->
    <div class="datos">
      <div class="datos-personales etiqueta-color rounded">
        <div>
          <span>
            <label>Apellido</label>
          </span>
        </div>
        <div>
          <label>{{usuario.apellido}}</label>
          <img class="img-lápiz" src="./assets/img/lápiz-perfil-usuario.png" alt="">
        </div>
      </div>
      <div class="datos-personales">
        <div>
          <span>
            <label>Fecha de nacimiento</label> 
          </span>
        </div>
        <div>
          <label>08/12/1992</label>
          <img class="img-lápiz" src="./assets/img/lápiz-perfil-usuario.png" alt="">
        </div>
      </div>        
    </div>
  </div>
  <!-- Segunda sección-->
  <div class="container-bloques">
    <div class="bloque">
      <div class="encabezado">
        <div>
          <h3 class="mt-5 mb-4">Direcciones</h3>
        </div>
        <div class="img-plus">
          <label>+</label>
        </div>
      </div>  
      <div class="datos-2">
        <div class="datos-personales etiqueta-color rounded">
          <div>
            <span>
              <a class="boton-direcciones rounded-pill">Principal</a>
              <label>{{usuario.direccion}}</label>
            </span>
          </div>
          <div>
            <img class="img-lápiz" src="./assets/img/lápiz-perfil-usuario.png" alt="">
          </div>
        </div>
        <div class="datos-personales">
          <div>
            <span>
              <label>Wegner 2300</label>
            </span>
          </div>
          <div>
            <img class="img-lápiz" src="./assets/img/lápiz-perfil-usuario.png" alt="">
          </div>
        </div>
        <div class="datos-personales etiqueta-color rounded">
          <div>
            <span>
              <label>Av. beethoven 1291</label>
            </span>
          </div>
          <div>
            <img class="img-lápiz" src="./assets/img/lápiz-perfil-usuario.png" alt="">
          </div>
        </div>        
      </div>
    </div>
    <div class="espacio"></div>
    <div class="bloque">
      <div class="encabezado">
        <h3 class="mt-5 mb-4">Cambio de credenciales</h3>
      </div>
      <div class="datos-2">
        <div class="datos-personales etiqueta-color rounded">
          <div>
            <span>
              <label>Contraseña actual:</label>
            </span>
          </div>
          <div>
            <label>******</label>
            <img class="img-lápiz" src="./assets/img/lápiz-perfil-usuario.png" alt="">
          </div>
        </div>
        <div class="datos-personales">
          <div>
            <span>
              <label>Nueva contraseña</label>
            </span>
          </div>
          <div>
            <label>******</label>
            <img class="img-lápiz" src="./assets/img/lápiz-perfil-usuario.png" alt="">
          </div>
        </div>
        <div class="datos-personales etiqueta-color rounded">
          <div>
            <span>
              <label>Confirmar contraseña</label>
            </span>
          </div>
          <div>
            <label>******</label>
            <img class="img-lápiz" src="./assets/img/lápiz-perfil-usuario.png" alt="">
          </div>
        </div>        
      </div>
    </div>
  </div>
  <!--Tercera sección-->
  <div class="encabezado">
    <h3 class="mt-5 mb-4">Ubicaciones</h3>
  </div>  
  <div class="container-perfil">
    <div class="datos">
      <div class="datos-personales etiqueta-color rounded">
        <div>
          <span>
            <label>Localidad</label>
          </span>
        </div>
        <div>
          <label>{{usuario.localidad}}</label>
          <img class="img-lápiz" src="./assets/img/lápiz-perfil-usuario.png" alt="">
        </div>
      </div>
      <div class="datos-personales">
        <div>
          <span>
            <label>Código postal</label>
          </span>
        </div>
        <div>
          <label>2154</label>
          <img class="img-lápiz" src="./assets/img/lápiz-perfil-usuario.png" alt="">
        </div>
      </div>        
    </div>
    <div class="espacio"></div>
    <div class="datos">
      <div class="datos-personales etiqueta-color rounded">
        <div>
          <span>
            <label>Provincia</label>
          </span>
        </div>
        <div>
          <label>Santa Fe</label>
          <img class="img-lápiz" src="./assets/img/lápiz-perfil-usuario.png" alt="">
        </div>
      </div>       
    </div>
  </div>
  <div class="container-buttom-guardar-cambios">
    <a class="buttom-cambios rounded-pill" href="">Guardar Cambios</a>
  </div>
</div>
