@media only screen and (max-width: 768px) {
    .container-perfil-usuario {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 20%;
        margin-left: 5%;
        /* Ajusta este valor según tus necesidades */
        margin-right: 5%;
        /* Ajusta este valor según tus necesidades */
    }

    .container-bloques {
        display: flex;
        flex-direction: column !important;
        justify-content: space-between;
        width: 100% !important;
    }

    .encabezado {
        width: 100% !important;
        display: flex;
        flex-direction: row;
        border-bottom: black 1px solid;
        justify-content: space-between;
    }

    .container-perfil {
        display: flex;
        flex-direction: column !important;
        justify-content: space-between;

    }

    .bloque {
        width: 100% !important;
    }

    .datos-personales {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 40px;
        width: 200px;
        padding-top: 7px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .boton-direcciones {
        text-decoration: none;
        background-color: rgb(131, 73, 46);
        width: 15px;
        padding: 3px;
        color: white;
        margin-right: 7px;
    }


}

.custom-container-fluid {
    width: 90%;
}

.container-perfil-usuario {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-top: 30px;
    margin-right: 10%;
    margin-bottom: 20%;
}

.container-bloques {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 25%;
    width: 100%;
}



.container-perfil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.container-buttom-guardar-cambios {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttom-cambios {
    background-color: rgb(131, 73, 46);
    color: white;
    width: 60;
    height: 35px;
    text-decoration: none;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.encabezado {
    display: flex;
    flex-direction: row;
    border-bottom: black 1px solid;
    justify-content: space-between;
}

.datos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25%;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 35px;
}

.datos-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25%;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 35px;
}

.boton-direcciones {
    text-decoration: none;
    background-color: rgb(131, 73, 46);
    width: 15px;
    padding: 3px;
    color: white;
    margin-right: 7px;
}


.etiqueta-color {
    background-color: rgb(218, 216, 216);
}


.datos-personales {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50%;
    width: 100%;
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
}

.img-lápiz {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.espacio {
    width: 25%;
}

.bloque {
    height: 25%;
    width: 100%;
}

.img-plus {
    padding-top: 55px;
    padding-right: 20px;
    font-size: 18px;
    margin-bottom: 0;
    cursor: pointer;
}

.custom-input {
    background-color: transparent;
    border: 1px solid #b6b6b6;
    border-radius: 8px;
    transition: border-color 0.3s ease;
    height: 90%;
}

.custom-input:focus {
    outline: none;
    border-color: #83492e;
}