.detalle-evaluacion {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #213555;
    margin: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .detalle-evaluacion h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .detalle-evaluacion p {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .detalle-evaluacion p:last-child {
    margin-top: 10px;
    font-weight: bold;
  }

  h2{
    color: #fff;
  }
  
  p{
    color: #dee0f1d8;
  }

  button{
    background-color: #213555;
    border-radius: 1rem;
    border: solid 1px #fff;
    margin: 0.5rem;
    padding: 1rem;
    justify-items: center;
    cursor: pointer;
  }

  /* Otros estilos personalizados según tus necesidades */
  