/* Evaluaciones.css */
.fondoEvaluation {
  display: flex;
  align-items: center; /* Centra verticalmente */
  overflow: auto; /* Agrega una barra de desplazamiento cuando sea necesario */
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* Evita desbordamiento horizontal en pantallas pequeñas */
}

 
.evaluacion-card{
margin-top: 1.7rem;
padding: 2rem;
 border-radius: 0.5rem;
 border: 1px solid #fff;
  background-color: #213555;
}

.evaluacion-titulo {
  font-size: 1rem;
  font-weight: bold;
  color: #eceff1;
}

.evaluar-puntaje {
  margin: 10px 0;
}

.estrella {
  color: rgb(255, 255, 255);
}

.estrella.activa {
  color: gold;
}

.evaluacion-button {
 
  border-radius: 1rem;
  border: solid 1px #fff;
  margin-top: 1rem;
  padding: 1rem;
  justify-items: center;
  cursor: pointer;
  color: #fff;
  background-color: #2135550e;
}

.evaluacion-button:hover {
  background-color: #114a86;
}

/* Modal CSS */
.modal-content {
  padding: 0;
  border-radius: 0;
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center; /* Agregado para centrar verticalmente */
}
.modal-header {
  background-color: #213555;
  color: white;
  border: none;
  width: 100%;
  
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.modal-body {
  background-color: #4F709C;
  color: white;
  border: none;
  width: 100%;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4em;
  
}

.modal-footer {
  border: none;
  color: white;
}

.desc{
  color: white;
}

.puntaje{
 color: white; 
}

@media (max-width: 768px) {

  .evaluacion-card{
    margin:2rem 2rem 0rem 2rem;
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px solid #fff;
    background-color: #213555;
  }
    
}
