
.fondoEvaluation{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, #000000, #213555, #4F709C, #213555, #000000);
  overflow-x: hidden; /* Evita desbordamiento horizontal en pantallas pequeñas */
  
}

 

.evaluacion-card {
  width: 60%;
  display: flex; /* Usamos flexbox para centrar contenido */
  flex-direction: column; /* Alinea el contenido verticalmente */
  align-items: center; /* Centra horizontalmente el contenido */
  background-color: #213555;
  border-radius: 1rem;
  border: 1px solid #ffffff;
  padding-bottom: 1rem;
  margin: 0 auto; /* Centra horizontalmente en la pantalla */
  margin-top: 1rem; /* Centra verticalmente en la mitad de la pantalla */
  margin-bottom: 1rem;
  transition: all 0.2s;
  cursor: pointer;
}

/* Resto de tus estilos CSS aquí */



.evaluacion-card:hover {
  background-color:#506f99;
}

.evaluacion-titulo {
  text-align: center;
  padding-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}

.evaluacion-descripcion {
  text-align: center;
  font-size: 1rem;
  color: #dee0f1d8;
  margin-bottom: 1rem;
}

.evaluacion-puntaje {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
  color: #ffc107; 
}

.estrella {
  font-size: 1.25rem;
  color: #ffffff;  
}

.estrella.activa {
  color: #f0ad4e; 
}

.evaluacion-button {
  font-size: 0.65rem;
  padding: 0.25rem;
  background-color: #4F709C;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.evaluacion-button:hover {
  background-color: #364e6d;  
}

