* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; /* Asegúrate de que esta fuente esté disponible en tu proyecto */
  }
  
  body, html {
    height: 100%;
  }
  
  .container {
    display: flex; /* Usa flexbox para alinear los elementos horizontalmente */
    height: 100vh; /* Altura total de la ventana */
    width: 100%;
    overflow: hidden; /* Evita el scroll */
  }
  
  .left-section {
    flex: 0 0 70%; /* La imagen ocupará el 60% del ancho */
    position: relative;
  }
  
  .background-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantiene la proporción de la imagen */
  }
  
  .right-section {
    flex: 0 0 30%; /* El formulario ocupará el 40% del ancho */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
    background-color: #ffffff; /* Fondo blanco para la sección del formulario */
    padding: 20px;
    box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
    height: 100%; /* Asegura que la sección ocupe toda la altura disponible */
  }
  
  h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 400px; /* Limita el ancho del formulario */
  }
  
  label {
    text-align: left;
    font-size: 14px;
    color: #555;
    font-weight: 500;
  }
  
  input[type="email"], input[type="password"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
    width: 100%; /* Ancho completo */
  }
  
  .sign-in-btn {
    padding: 10px;
    background-color: #007BFF; /* Color del botón */
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px; /* Espacio superior */
    font-weight: 500;
  }
  
  .sign-up {
    margin-top: 20px;
    font-size: 14px;
  }

  
  .register-prompt {
    margin-top: 20px; /* Espacio superior para separar del formulario */
    font-size: 14px; /* Tamaño de fuente */
    color: #555; /* Color del texto */
  }
  
  .register-prompt a {
    color: #007BFF; /* Color del enlace */
    text-decoration: none; /* Sin subrayado */
  }
  
  .register-prompt a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
  }
  