<div class="container-right">
    <div class="topnav">
        <a class="menu-item" href="">Home</a>
        <a class="menu-item" href="/Contacto">Contacto</a>
        <a class="menu-item" class="login-bottom-topnav" href="/Login">Inicie sesión</a>
        <form>
            <input type="text" class="busquedaText" name="busqueda" placeholder="Encuentre el libro que busca!">
        </form>
    </div>
</div>

<div class="container-deep">
    <div class="promos-bar">
        <a class="promo" href="/Promo1">Promo1</a>
        <a class="promo" href="/Promo2">Promo2</a>
        <a class="promo" href="/Promo3">Promo3</a>
    </div>
</div>

<div class="container-buttom">
    <div class="libros-left">
        <a class="libro" href="/libro-ejemplar">Libro1</a>
        <a class="libro" href="/libro-ejemplar">Libro2</a>
        <a class="libro" href="/libro-ejemplar">Libro3</a>
    </div>
    <div class="libros-center">
        <a class="libro" href="/libro-ejemplar">Libro4</a>
        <a class="libro" href="/libro-ejemplar">Libro5</a>
        <a class="libro" href="/libro-ejemplar">Libro6</a>
    </div>
    <div class="libros-right">
        <a class="libro" href="/libro-ejemplar">Libro7</a>
        <a class="libro" href="/libro-ejemplar">Libro8</a>
        <a class="libro" href="/libro-ejemplar">Libro9</a>
    </div>
</div>
<div class="container-floor">
    <a class="links-ayuda" href="">Soporte</a>
    <a class="links-ayuda" href="">Ubicación</a>
    <a class="links-ayuda" href="">Instagram</a>
</div>  
