@media(min-width: 760px){
    .container{
        flex-direction: row;
        background-color: #333;
    }
}


/*------Conteiners------*/

.container {
    background-color: #333;
    display: flex;
    flex-direction: column;
}

.container-right{
    border-left-width: 2px;
    border-right-width: 2px;
    height: auto;

}

.container-buttom{ 
    background-color: #0000006c;   
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.container-deep{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
}

.container-floor{
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: center;
}

/*------promos-barra------*/

.promos-bar {
    background-color: #333;
    overflow: hidden;
    height: auto;
  }
  
  /* Style the links inside the navigation bar */
.promos-bar a {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 100px 50px;
    text-decoration: none;
    font-size: 17px;
    height: auto;
}
  
  /* Change the color of links on hover */
.promos-bar a:hover {
    background-color: #ddd;
    color: black;
}


/*------promo------*/

.promo {
    display: block;
    background-color: rgb(39, 39, 39);
    border: 1px;
    text-decoration: none;
    text-align: center;
    color: rgb(67, 196, 136);
}

/*-------libros------*/

.libros-left{
    flex-direction: column;
    justify-content: center;
    background-color: #0f0d0f;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.libros-center{
    flex-direction: column;
    justify-content: center;
    background-color: #0f0d0f;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.libros-right{
    flex-direction: column;
    justify-content: center;
    background-color: #0f0d0f;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.libro{
    display: flex;
    justify-content: center;
    border-top: 5px ;
    padding: 20px 40px;
    color: antiquewhite;
    text-decoration: none;

}

/*------menu------*/

.busquedaText{
    display: block;
    margin: 0.5rem 0;
    text-align: center;
    padding: 5px 20px;

}

.menu-item {
    display: block;
    background-color: rgb(39, 39, 39);
    border: 1px;
    text-decoration: none;
    text-align: center;
    color: rgb(67, 196, 136);
}

/* Add a black background color to the top navigation */
.topnav {
    background-color:rgb(39, 39, 39);
    overflow: hidden;
    height: auto;
  }
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 13px 16px;
    text-decoration: none;
    font-size: 17px;
    height: auto;
}
  
  /* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
  /* Add a color to the active/current link */
.topnav a.active {
    background-color: #aa0494;
    color: white;
}

.login-bottom-topnav{
    display: flex;
    flex-direction: row;
    margin-left: 2px;
}

.links-ayuda{
    color: white;
    padding: 20px;
    margin-top: 35px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 35px;
}