<!DOCTYPE html>

<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Información del Torneo de Fútbol</title>
  <link rel="stylesheet" href="torneo.component.scss">
</head>

<body>
  <header class="header">
    <h1>Torneo de Verano</h1>
    <p class="subtitle">Este torneo de Verano 2024 se realizará de noche entre las 20:00 hs y las 00:00 hs debido a los altos golpes de calor. </p>
    <p class="subtitle">El torneo cuenta con una cantidad limitada de jugadores por posición. </p>
  </header>

  <section class="section-container">
    <h2>Detalles del Torneo</h2>
    <div class="info-block">
      <p><strong>Nombre del Torneo:</strong> Torneo de Verano</p>
      <p><strong>Fecha de Inicio:</strong>20 de Diciembre 20:00 hs </p>
      <p><strong>Fecha de Fin:</strong> 25 de diciembre 00:00 hs</p>
      <p><strong>Lugar:</strong> Rosario, Corrientes 1867</p>
    </div>
  </section>

  <section class="section-container">
    <h2>Formato del torneo</h2>
    <div class="info-block">
      <ul class="team-list">
        <li>Cantidad de equipos: 32 </li>
        <li>Cantidad de equipos por grupos: 4 </li>
        <li>Cantidad de clasificados por grupo: 2 </li>
      </ul>
    </div>
  </section>

  <section class="section-container">
    <h2>Formato de eliminación directa</h2>
    <div class="info-block">
      <img src="../../assets/images/formato-de-torneo1.png" alt="Formato de eliminación directa" style="max-width: 100%; height: auto;">
    </div>
  </section>

</body>
</html>