<!DOCTYPE html>

<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Información del Torneo de Fútbol</title>
  <link rel="stylesheet" href="torneo.component.scss">
</head>

<body>
  <div class="row">
    <div class="col bg-primary-subtle">
    </div>
    <div class="container text-center w-50 mx-auto d-block">
        <div *ngFor="let torneo of torneos" class="col mb-5 ">
          <div class="bg-primary text-black">
            <h1>Nombre del torneo: {{torneo.nombre_torneo}}</h1>
          </div>
          <div>
            <h4 class="bg-secondary text-black">Detalles del torneo</h4>
            <h5>Fecha de inicio: {{torneo.fecha_inicio_torneo}}</h5>
            <h5>Fecha fin: {{torneo.fecha_fin_torneo}}</h5>
            <h5>Lugar: {{torneo.sucursal.nombre_sucursal}}</h5>
          </div>
          <div>
            <h4 class="bg-secondary text-black">Formato del torneo</h4>
            <h5>Cantidad de equipos: {{torneo.formato_torneo.cant_equipos}}</h5>
            <h5>Cantidad de partidos: {{torneo.formato_torneo.cant_partidos}}</h5>
          </div>
          <div>
            <h4 class="bg-secondary text-black">Estado del torneo</h4>
            <h5>{{torneo.estado_torneo.nombre_estado}}</h5>
          </div>
          <div class="card w-50 mx-auto">
            <img src="../../assets/images/Torneos.jpg" >
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-primary text-black fs-3" type="button">Inscribite</button>
          </div>
        </div>
    </div>
    <div class="col bg-primary-subtle">
    </div>
  </div>
</body>
</html>