*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.body {
font-family: 'Georgia', serif;
background-color: #f4f4f9;
color: #333;
line-height: 1.6;
padding: 20px;
}

/* Encabezado */
.header {
text-align: center;
padding: 30px;
background-color: #052c88e6; /* Color sobrio, formal */
color: #f8f8f8;
}

.header h1 {
font-size: 36px;
font-weight: bold;
margin-bottom: 5px;
}

.subtitle {
font-size: 18px;
color: #cfcfcf;
}

/* Sección general */
.section-container {
background-color: #ffffff;
margin: 20px auto;
padding: 25px;
max-width: 700px;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-container h2 {
font-size: 24px;
color: #000000;
text-align: center;
margin-bottom: 15px;
}

.info-block {
font-size: 18px;
color: #3e3d3d;
}

/* Lista de equipos */
.team-list {
list-style: none;
padding: 0;
text-align: center;
}

.team-list li {
font-size: 18px;
margin: 8px 0;
}

/* Pie de página */
.footer {
text-align: center;
padding: 15px;
background-color: #001648;
color: #f8f8f8;
font-size: 14px;
}


/* Adaptación para pantallas pequeñas */
@media (max-width: 768px) {.header h1 {
    font-size: 28px;}.section-container h2 {
    font-size: 22px;}.info-block, .team-list li {
    font-size: 16px;}}