<app-header></app-header> 
<div class="about-container">
    <div class="about-row">
      <div class="about-text">
        <h1>Sobre Nosotros</h1>
        <p>
          Bienvenido a nuestra empresa. Estamos comprometidos a ofrecer los mejores servicios y productos para nuestros clientes. Nuestra misión es proporcionar soluciones innovadoras y de alta calidad que superen las expectativas de nuestros usuarios. Con un equipo de expertos dedicados, nos esforzamos por lograr la excelencia en todo lo que hacemos.
        </p>
        <p>
          Nuestra historia comenzó hace más de una década, y desde entonces hemos crecido y evolucionado para convertirnos en líderes en nuestra industria. Valoramos la transparencia, la integridad y la satisfacción del cliente como los pilares fundamentales de nuestro negocio.
        </p>
      </div>
      <div class="about-image">
        <img src="/assets/maldi.jpg" alt="Luxury" />
      </div>
    </div>
  </div>
  
