<app-header></app-header> 
<div class="about-container">
    <div class="about-row">
      <div class="about-text">
        <h1>Sobre Nosotros</h1>
        <p>
          Bienvenido a nuestra empresa. Estamos comprometidos a ofrecer los mejores servicios y productos para nuestros clientes. Nuestra misión es proporcionar soluciones innovadoras y de alta calidad que superen las expectativas de nuestros usuarios. Con un equipo de expertos dedicados, nos esforzamos por lograr la excelencia en todo lo que hacemos.
        </p>
        <p>
          Nuestra historia comenzó hace más de una década, y desde entonces hemos crecido y evolucionado para convertirnos en líderes en nuestra industria. Valoramos la transparencia, la integridad y la satisfacción del cliente como los pilares fundamentales de nuestro negocio.
        </p>
      </div>
      <div class="about-image">
        <img src="https://images.unsplash.com/photo-1439130490301-25e322d88054?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fEhvdGVsJTIwVmlzdGElMjBNYXJ8ZW58MHx8MHx8fDA%3D" alt="Imagen de la empresa" />
      </div>
    </div>
  </div>
  
