.barraNavegacion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #000; 
    border-radius: 5px;
}

.linksBarra {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.linksBarra a {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: #ffffff;
    text-decoration: none;
    font-size: 22px;
}

.linksBarra a:hover {
    color: #bbbbbb; 
}

.btnBarra {
    
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    display: flex;
    gap: 1rem;
}

.login,
.registro {
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.login a{
    text-decoration: black;
    color: black;
}

.admin a{
    text-decoration: black;
    color: black;
}

.registro a{
    text-decoration: black;
    color: black;
}

.login {
    background-color: rgb(165, 214, 91);
    color: black;
    border-radius: 4px;
}

.admin{
    background-color: #ffffff;
    color: #000000;
    border-radius: 4px;
}

.registro {
    background-color: rgb(126, 204, 230);
    color: #000000;
    border-radius: 4px;
}

.login:hover,
.registro:hover {
    opacity: 0.8;
}

.footer {
    background-color: #f0f1f5;
    padding: 40px 20px;
    color: #333;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo img {
    width: 80px;
    margin-bottom: 20px;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.footer-column {
    display: block;
    min-width: 180px;
    margin: 0 10px;
}

.footer-column h3 {
    margin-left: 38px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.footer-column ul {
    list-style: none;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    color: #555;
    text-decoration: none;
    font-size: 14px;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: #999;
}