<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=}, initial-scale=1.0">
</head>
<body>
    <div>
        <nav class="barraNavegacion">
            <ul class="linksBarra">
                <li><a routerLink="inicio">Inicio</a></li>
                <li><a routerLink="partidos">Partidos</a></li>
                <li><a routerLink="torneos">Torneos</a></li>
            </ul>
            <div class="btnBarra">
                <button class="login"><a routerLink="/login">Inicia Sesión</a></button>
                <button class="registro"><a routerLink="/login">Registrarse</a></button>
            </div>
        </nav>
    </div>
    <router-outlet></router-outlet>
</body>
</html>