<div>
    <app-estado-torneo></app-estado-torneo>
</div>

<div>
    <app-localidades></app-localidades>
</div>

<div>
    <app-formatos-torneo></app-formatos-torneo>
</div>

<div>
    <app-tipo-participante></app-tipo-participante>
</div>

<div>
    <app-partido></app-partido>
</div>

<div>
    <app-participante></app-participante>
</div>

<div>
    <app-admin></app-admin>
</div>

<div>
    <app-sucursal></app-sucursal>
</div>

<div>
    <app-equipo></app-equipo>
</div>

<div>
    <app-torneo></app-torneo>
</div>