<div class="book-container custom-rounded-shadow p-3">
  <div class="row">
    <div class="col-md-3 col-12">
      <img [src]="libro?.portada" alt="Portada del libro seleccionado" class="max-width-img" />
    </div>
    <div class="col-md-9 col-12 text-center">
      <h3>{{ libro?.titulo }}</h3>
      <div class="rating">
        <span class="star" *ngFor="let star of [1, 2, 3, 4, 5]; let i = index"
          [class.filled]="libro && i < libro.calificacion">&#9733;</span>
      </div>
      <div *ngIf="libro">
        <p class="precio">
          {{ libro.precio ? "$" + calculatePriceInSelectedCurrency(libro!.precio).toLocaleString() : "Precio no
          disponible" }}
          <small class="text-muted">
            {{ currencyService.getCurrency() }}
          </small>
          <span class="text-normal">Pagá en cuotas</span>
          <br />
          <span class="text-normal"><strong>6 cuotas</strong> fijas de</span>
          <span class="cuota">{{
            libro.precio
            ? "$" +
            calculatePriceInSelectedCurrency(
            (libro.precio * 1.2) / 6
            ).toLocaleString(undefined, {
            minimumFractionDigits: 0,
            maximumFractionDigits: 0
            })
            : ""
            }}</span>
          <br />
          <span class="text-normal"><strong>3 cuotas</strong> fijas de</span>
          <span class="cuota">{{
            libro.precio
            ? "$" +
            calculatePriceInSelectedCurrency(
            (libro.precio * 1.1) / 3
            ).toLocaleString(undefined, {
            minimumFractionDigits: 0,
            maximumFractionDigits: 0
            })
            : ""
            }}</span>
        </p>
      </div>
      <hr class="my-4" />
      <p>
        <img src="../../../assets/img/envio.png" class="ml-5 img-envio">
        Envío a Rosario
        <span class="envio">{{ libro?.precio && libro!.precio > 10000 ? "GRATIS" : "$" +
          calculatePriceInSelectedCurrency(1499).toLocaleString(undefined, { minimumFractionDigits: 0,
          maximumFractionDigits: 0 }) }}
        </span>
        <small *ngIf="libro?.precio && libro!.precio <= 10000">
          {{ currencyService.getCurrency() }}
        </small>
      </p>
      <p>O retiralo <strong>GRATIS</strong> en nuestra tienda</p>
      <div class="d-flex justify-content-center mt-4">
        <button class="btn btn-primary custom-btn-primary mx-4" *ngIf="isLoggedIn" (click)="comprarAhora(libro)">
          Comprar ahora
        </button>
        <button class="btn btn-primary custom-btn-primary mx-4" *ngIf="!isLoggedIn" routerLink="/identificarse">
          Comprar ahora
        </button>
        <button class="btn btn-primary custom-btn-secondary mx-4" (click)="agregarAlCarrito(libro); mostrarMensaje()"
          *ngIf="isLoggedIn">
          Agregar al carrito
        </button>
      </div>
      <div *ngIf="libro && libroAgregado" class="alert alert-success mt-3" role="alert">
        El libro se ha agregado al carrito de compras correctamente.
      </div>
    </div>
  </div>
</div>