<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LigaVirtual</title>
    <link rel="stylesheet" href="pagina-inicio.component.scss">
</head>

<body>

    <div class="video-container">
        <video #videoElement autoplay muted loop playsinline preload="auto">
          <source src="../../assets/Video/Background.mp4" type="video/mp4" />
        </video>
        <div class="content">
          <h1>LIGA VIRTUAL</h1>
          <p>GESTION DE TORNEOS LOCALES</p>
        </div>
        <!-- Button to manually play the video if autoplay fails -->
        <button (click)="playVideo()" *ngIf="videoPaused">Play Video</button>
        <p *ngIf="errorMessage">{{ errorMessage }}</p> <!-- Error message display -->
      </div>


    <div class="container">
        <div class="finalTorneo">
            <img src="../../assets/images/Final del Torneo.jpg" alt="Final del Torneo" class="main-image">
            <div class="main-content">
                <span class="tag live">EN VIVO</span>
                <h2>🔴 EN VIVO: Final Del Torneo Local Sub-20 </h2>
                <span class="source">Noticiero Provincial - hace 3 horas</span>
            </div>
        </div>


        <div class="card-grid">

            <div class="card">
                <img src="../../assets/images/Torneo Futbol 5.jpg" alt="Torneo Futbol 5">
                <div class="card-content">
                    <p>Inscripciones abiertas al torneo de verano</p>
                    <span class="source">Noticiero Local - hace 50 min</span>
                </div>
            </div>
            
            <div class="card">
                <img src="../../assets/images/Torneo Femenino.jpg" alt="Torneo Femenino">
                <div class="card-content">
                    <span class="tag live">EN VIVO</span>
                    <p>🔴 EN VIVO: ¡Cuartos de final del torneo femenino!</p>
                    <span class="source">Noticiero Local - hace 2 horas</span>
                </div>
            </div>
            
            <div class="card">
                <img src="../../assets/images/Copa del torneo.jpg" alt="Copa del Torneo">
                <div class="card-content">
                    <p>La copa para el ganador del torneo será una réplica de la copa del mundo en honor a la tercera</p>
                    <span class="source">Noticiero Local - hace una hora</span>
                </div>
            </div>
            
            <div class="card">
                <img src="../../assets/images/Liga Infantil.png" alt="Liga Infantil">
                <div class="card-content">
                    <p>¡Inscripciones abiertas! Prácticas Infantiles</p>
                    <span class="source">Noticiero Local - hace 3 horas</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>