* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;

}

.container {
    display: grid;
    gap: 20px;
}
  
.finalTorneo {
    display: flex;
    gap: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.main-image {
    width: 50%;
    border-radius: 10px;
}
  
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.main-content .tag {
    background-color: #ff007f;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
}
  
h2 {
    margin: 10px 0;
    font-size: 24px;
    color: #333;
}
  
p {
    font-size: 14px;
    color: #666;
}
  
.source {
    font-size: 12px;
    color: #999;
}
  
.card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
  
.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
  
.card img {
    width: 100%;
    height: auto;
}
  
.card-content {
    padding: 15px;
}
  
.card-content .tag {
    background-color: #ff007f;
    color: white;
    padding: 3px 7px;
    border-radius: 3px;
    font-size: 10px;
    margin-bottom: 10px;
    display: inline-block;
}
  
.card p {
    font-size: 14px;
    color: #333;
    margin: 10px 0;
}
  
.card .source {
    font-size: 12px;
    color: #999;
}

.video-container {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
  }
  
  video {
    position: absolute;
    top: 47%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  
      .content {
        color: white;
        position: relative;
        z-index: 1;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
        top: 50%;
        transform: translateY(-50%);
      }
  .content h1 {
   font-size: 80px;
  }
  .content p {
    color: white;
    font-size: 20px;
  }