<div class="libros-recomendados">
  <h3 class="mt-5 mb-4">Libros recomendados</h3>
  <div class="lista-libros">
    <button
      class="boton-izquierda boton-moderno"
      (click)="moverIzquierda()"
      [class.disabled]="elementosAlInicio"
    >
      &lt;
    </button>
    <div class="lista-contenedor">
      <div class="elementos-lista p-4">
        <div
          *ngFor="
            let libro of libros.slice(
              elementoActual,
              elementoActual + elementosPorPaso
            );
            let i = index
          "
          class="elemento-lista elemento-animado animacion-tarjeta hover-grow"
        >
          <div class="libro card">
            <a href="#" class="text-decoration-none">
              <img
                src="{{ libro.imagen }}"
                alt="Portada del libro"
                class="card-img-top tarjeta-imagen"
              />
              <div class="card-body">
                <p class="card-text precio">{{ libro.precio }}</p>
                <p class="card-text descripcion">
                  {{
                    libro.descripcion.length > descripcionMaxLength
                      ? (libro.descripcion | slice : 0 : descripcionMaxLength) +
                        "..."
                      : libro.descripcion
                  }}
                </p>
              </div></a
            >
          </div>
        </div>
      </div>
    </div>
    <button
      class="boton-derecha boton-moderno"
      (click)="moverDerecha()"
      [class.disabled]="elementosAlFinal"
    >
      &gt;
    </button>
  </div>
</div>
