/* Estilos para el encabezado */
.header-content {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2a4063; /* Azul claro */
    padding: 10px 20px;
    color: white;
}
  
  /* Estilos para el logo */
.logo-content {
    font-size: 15px;
}

.logo-content a {
    text-decoration: none;
    color: white;
}

.userlogo {
    width: 30px;
} 

.notifylogo {
    width: 30px;
}

/* Estilos para el título */
.title {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

/* Estilos para los enlaces en el encabezado */
.header-links {
display: flex;
align-items: center;
}

.links a {
text-decoration: none;
color: white;
margin-right: 20px;
font-weight: bold;
}

@media (max-width: 768px) {

.header-content {
    flex-direction: column;
    text-align: center;
}

.header-links {
    margin-top: 20px;
}

.links {
    flex-direction: column;
    align-items: center;
}

.links a {
    margin: 10px 0;
    padding: 10px;
}
}

nav {
    text-align: center; /* Centrar el contenido horizontalmente */
  }
  
  nav ul {
    list-style: none; /* Quitar los puntos de la lista */
    padding: 0; /* Eliminar el relleno por defecto */
  }
  
  nav li {
    display: block; /* Hacer que los elementos sean bloques para que estén uno debajo del otro */
    margin-bottom: 10px; /* Agregar espacio entre los elementos */
  }
  
nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

nav a.is-active {
    text-decoration: none;
    color: white;
    font-weight: bold;
    pointer-events: none;
}
  
  