.wheel {
  max-width: 500px; 
  width: 100%;    
  height: auto;
  transform: rotate(0deg);
  transition-property: transform;
  transition-duration: 5.5s;
  transition-timing-function: cubic-bezier(.08,.33,0,1);
  pointer-events: none;
}

.button {
  margin-top: 20px;
  padding: 10px 50px;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--yellow);
  width: 100%;
  max-width: 300px;
}

.mutedButton {
  margin-left: 2rem;
}

.py-5 {
  color: var(--red);
  font-size: 1.5rem;
}

