/* Variables.css */

/* Colores */
:root {
    --color-fondo: #176B87;
    --color-destacado: #001C30;
    --color-secundario: #64CCC5;
    --color-texto: #DAFFFB;
  }
  
  /* Espaciado y dimensiones */
  :root {
    --espaciado: 13px;
    --ancho-boton: 100px;
    --altura-imagen: 200px;
  }
  
  /* Fuentes y tipografía */
  :root {
    --tamano-fuente-normal: 16px;
    --fuente-principal: 'Montserrat', sans-serif;
    --peso-fuente-negrita: bold;
  }
  
  /* Animaciones y transiciones */
  :root {
    --duracion-animacion: 0.5s;
    --velocidad-transicion: 0.3s;
  }
  
  /* Sombra y bordes */
  :root {
    --sombra-caja: 0px 2px 4px rgba(0, 0, 0, 0.2);
    --borde-redondeado: 5px;
  }
  
  /* Enlaces y encabezados */
  :root {
    --color-enlace: #0070f3;
    --color-texto-encabezado: #333;
  }
  
  /* Imagen de fondo */
  :root {
    --imagen-fondo: url('');
  }
  