<div class="form-container">
  <h2>Modificar Habitación</h2>

  <form (ngSubmit)="actualizarHabitacion()">
    <label for="nroHabitacion">Número de Habitación:</label>
    <input type="number" id="nroHabitacion" [(ngModel)]="habitacion.nroHabitacion" name="nroHabitacion" required disabled />

    <label for="tipo">Tipo de Habitación:</label>
    <select id="tipo" [(ngModel)]="habitacion.tipo" name="tipo" (ngModelChange)="onTipoChange()">
      <option *ngFor="let tipo of tiposHabitaciones" [value]="tipo.id">
        {{ tipo.id }} - {{ tipo.denominacion }}
      </option>
    </select>

    <label for="descripcion">Descripción:</label>
    <input type="text" id="descripcion" [(ngModel)]="habitacion.descripcion" name="descripcion" required />

    <label for="estado">Estado:</label>
    <select id="estado" [(ngModel)]="habitacion.estado" name="estado" required>
      <option value="Disponible">Disponible</option>
      <option value="En Reparación">En Reparación</option>
    </select>

    <label for="capacidad">Capacidad Máxima:</label>
    <input type="number" id="capacidad" [(ngModel)]="habitacion.capacidadPersonas" name="capacidad" required />

    <label for="precio">Precio:</label>
    <input type="number" id="precio" [(ngModel)]="habitacion.precioXdia" name="precio" required />

    <label for="foto">Foto (URL):</label>
    <input type="text" id="foto" [(ngModel)]="habitacion.foto" name="foto" placeholder="Ingrese la URL de la foto" />

    <div class="button-container">
      <button type="submit" class="btn-actualizar">Actualizar</button>
      <button type="button" class="btn-cancelar" (click)="cancelar()">Cancelar</button>
    </div>
  </form>
</div>
