.title-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 20px;
}

.title-user{
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.list-main {
    width: 100%;
    padding: 10rem 5rem 5rem 5rem;
}

.header-name {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    background-color: var(--violeta);
    padding: 10px;
    border-bottom: 2px solid #ddd;
    font-weight: bold;
}

.header-column, .column {
    text-align: center;
    color: #fff;
}

.header-column {
    color: #fff;
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.user-info {
    display: contents;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.edit-btn, .delete-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
}

.edit-btn {
    background-color: var(--verde);
}

.delete-btn {
    background-color: var(--rojo);
}

.edit-btn:hover {
    background-color: #45a049;
}

.delete-btn:hover {
    background-color: #e60000;
}