.inicio-cliente-container {
    position: relative;
    /* Estilos para el contenido de tu aplicación */
}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 24px;
    background-color: #4F709C; /* Color de fondo */
    color: white; /* Color del texto */
    border: none;
    cursor: pointer;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #213555;
  }
  
  .links {
    display: flex;
  }
  
  .link {
    margin-right: 20px; /* Agrega un margen a la derecha para la separación */
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
  }
  
  .link:hover {
    color: #4F709C; /* Cambia el color al pasar el cursor */
  }
  

.menu {
    position: fixed;
    margin: 10px;
    bottom: 70px; /* Ajusta la posición vertical del menú */
    right: 10px;
    background-color: #4F709C; /* Color de fondo del menú */
    color: white; /* Color del texto del menú */
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    transition: bottom 0.3s ease-in-out; /* Agrega una transición suave */
}

.menu-option {
    padding: 5px;
    cursor: pointer;
}

.menu-option:hover {
    background-color: #213555; /* Color de fondo al pasar el cursor */
}


.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    background-color: #4F709C;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .pagination button:hover {
    background-color: #213555;
  }
  
  .pagination span {
    font-size: 14px;
    margin: 0 10px;
  }