<div class="container">
    <div class="container-right">
        <div class="topnav">
            <a class="menu-item" href="">Home</a>
            <a class="menu-item" href="/Contacto">Contacto</a>
            <a class="menu-item" class="login-bottom-topnav" href="/Login">Inicie sesión</a>
            <form>
                <input type="text" class="busquedaText" name="busqueda" placeholder="Encuentre el libro que busca!">
            </form>
        </div>
    </div>
    <div class="container-mid">
        <div class="container-datos-derecha">
            <img class="img-libro" src="./assets/Barnie.jpg" alt="nada">
        </div>
        <div class="container-datos-izquierda">
            <span>Título</span>
            <span>Precio</span>
            <span>etc</span>
            <a class="compra-bottom" href="/Compra">Comprar</a>
        </div>
    </div>
    <div class="container-floor">
        <a class="links-ayuda" href="">Soporte</a>
        <a class="links-ayuda" href="">Ubicación</a>
        <a class="links-ayuda" href="">Instagram</a>
    </div>
</div>