.custom-rounded-shadow {
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  font-weight: bold;
}

p,
h2 {
  font-family: Inter, sans-serif;
}

.card-price {
  color: #7C7C7C;
  font-size: 2rem;
  text-align: end;
}

.text-primary,
.text-danger {
  text-decoration: none;
}