<div class="custom-background pb-5">
    <div class="row mb-4">
        <div class="col">
            <h3>Panel de Administración - Prosefy - Editorial</h3>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3>Editoriales</h3>
                </div>
                <div class="card-body" *ngFor="let id of editorialesIds; let i = index">
                    <label class="btn btn-primary custom-btn-primary mx-2"> Descripción:</label>
                    <label class="btn btn-primary custom-btn-secondary mx-2">{{editorialesData[id].descripcion}}</label>
                    <label class="btn btn-primary custom-btn-primary mx-2"> Dirección:</label>
                    <label class="btn btn-primary custom-btn-secondary mx-2">{{editorialesData[id].direccion}}</label>
                    <label class="btn btn-primary custom-btn-primary mx-2"> URL:</label>
                    <label class="btn btn-primary custom-btn-secondary mx-2">{{editorialesData[id].imagen}}</label>
                    <button class="buttom rounded btn btn-danger" (click)="eliminarEditorial(id)">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>
