<div class="custom-background pb-5">
    <div class="row mb-4">
        <div class="col">
            <h3>Panel de Administración - Prosefy - Editorial</h3>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3>Editoriales</h3>
                </div>
                <div class="card-body">
                    <label class="btn btn-primary custom-btn-secondary mx-2"></label>
                </div>
            </div>
        </div>
    </div>
</div>
