.au-container {
    display: flex; 
    padding: 1.25rem; 
    flex-direction: column; 
    gap: 1.25rem; 
    margin-top: 100px;
}

.au-title {
    font-size: 1.5rem;
    line-height: 2rem; 
    font-weight: 700; 
    color: var(--white-light);
}

.au-data {
    padding: 1.25rem; 
    background: #23222F;
    color: var(--white-light);
    border-radius: 1rem;
}

.sub-title {
    padding-top: 1.25rem; 
    font-size: 1.5rem;
    line-height: 2rem; 
    font-weight: 700; 
}

@media (min-width: 768px) { 
    .sub-title {
        font-size: 1.875rem;
        line-height: 2.25rem; 
    }
}
