<hr />
<h2 class="mt-4 mb-2">Información del Libro</h2>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      <div class="container mt-4">
        <table class="custom-table">
          <tbody>
            <tr *ngIf="libro">
              <td class="table-header gris-oscuro text-center">Autores</td>
              <td class="table-value gris-claro">
                {{ autoresNombres[libro._id].join(', ') || 'N/A' }}
              </td>
            </tr>
            <tr *ngIf="libro">
              <td class="table-header gris-claro text-center">Editorial</td>
              <td>{{ editorialDescripcion[libro._id] || 'N/A' }}</td>
            </tr>
            <tr>
              <td class="table-header gris-oscuro text-center">Edición</td>
              <td class="table-value gris-claro">
                {{ formatearFecha(libro?.fecha_edicion) }}
              </td>
            </tr>
            <tr *ngIf="libro && libro.categorias && libro.categorias.length > 0">
              <td class="table-header gris-claro text-center">Categorías</td>
              <td>
                {{ formatCategorias(categoriasDescripcion[libro._id]) || 'N/A' }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="libro?.descripcion" class="container mt-4 custom-rounded-shadow p-3">
        <h2>Sinopsis</h2>
        <p class="mx-5 mt-3" [innerHTML]="formatearSinopsisConSaltosDeLinea(libro?.descripcion)"></p>
      </div>
    </div>
    <div class="col-md-4">
      <!--<app-libros-autor [autores]="libro?.autores"></app-libros-autor>-->
    </div>
  </div>
</div>