<hr />
<h2 class="mt-4 mb-2">Información del Libro</h2>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      <div *ngIf="libro" class="container mt-4">
        <table class="custom-table">
          <tbody>
            <tr>
              <td class="table-header gris-oscuro">Autores</td>
              <td class="table-value gris-claro">
                {{ libro.autores.join(", ") }}
              </td>
            </tr>
            <tr>
              <td class="table-header gris-claro">Editorial</td>
              <td>{{ libro.editorial }}</td>
            </tr>
            <tr>
              <td class="table-header gris-oscuro">Edición</td>
              <td class="table-value gris-claro">
                {{ formatearFecha(libro.fechaEdicion) }}
              </td>
            </tr>
            <tr>
              <td class="table-header gris-claro">Categorías</td>
              <td>{{ libro.categorias.join(", ") }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="container mt-4 custom-rounded-shadow p-3">
        <h2>Sinopsis</h2>
        <p class="mx-4 mt-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio id
          fugit necessitatibus iure voluptatibus recusandae repudiandae aut
          molestias expedita in quidem dolorem corporis sapiente facilis
          consectetur nulla, quasi laboriosam hic.
        </p>
      </div>
    </div>

    <div class="col-md-4">
      <app-libros-autor></app-libros-autor>
    </div>
  </div>
</div>
