<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LigaVirtual</title>
    <link rel="stylesheet" href="registro.component.scss">
</head>

<body>
    <main>
        <div class="Contenedor_Registro"> 
          <form action="" class="Registro">
            <h2>FORMULARIO</h2>
            <input type="text" placeholder="Nombre de Usuario">
            <input type="password" placeholder="Contraseña">
            <input type="text" placeholder="Nombre">
            <input type="text" placeholder="Apellido">
            <input type="date" placeholder="dd/mm/yyyy">
            <input type="email" placeholder="Correo Electrónico">
            <button>REGISTRATE</button>
          </form>
        </div>
      </main>
</body>