<!-- tipo-volquetes-list.component.html -->
<div class="tipos-volquete-list-container">
  <h1 class="tipos-volquete-title">Tipos de Volquete</h1>

  <div class="tipos-volquete-table-container">

    <table class="tipos-volquete-table">
      <thead>
        <tr>
          <th *ngFor="let column of displayedColumns">
            {{ columnNames[column] }}
          </th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let tipo of tipos" (click)="onSeleccionarTipo(tipo)">

          <td>
            
            <span>{{ tipo.id_tipo_volquete }}</span>
          </td>
          <td>
            <input *ngIf="editingRow === tipo" [(ngModel)]="editTemp.descripcion_tipo_volquete" />
            <span *ngIf="editingRow !== tipo">{{ tipo.descripcion_tipo_volquete }}</span>
          </td>
          <td>
            <button *ngIf="editingRow === tipo" (click)="saveEdit()">Guardar</button>
            <button *ngIf="editingRow === tipo" (click)="cancelEdit()">Cancelar</button>
            <button *ngIf="editingRow !== tipo" (click)="startEdit(tipo)">Editar</button>
            <button *ngIf="editingRow !== tipo" (click)="delete(tipo)">Eliminar</button>
          </td>
          
        </tr>

        <tr>
          <td colspan="3" class="add-row-cell">
            <button (click)="onAdd()" class="add-button">
              <span class="add-icon">+</span>
              <span>Agregar</span>
            </button>
          </td>
        </tr>

      </tbody>
    </table>

  </div>
</div>
