<div class="tipos-volquete-list-container">
    <h1 class="tipos-volquete-title">TIPOS DE VOLQUETE</h1>
  
    <div class="tipos-volquete-table-container">
      
      <table class="tipos-volquete-table">
        <thead>
          <th *ngFor="let column of displayedColumns">
            {{ column | titlecase }}
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let tipo of tipos" (click)="onSeleccionarTipo(tipo)" [class.selected]="tipo === tipoSeleccionado">
            <td>{{ tipo.id_tipo_volquete }}</td>
            <td>{{ tipo.descripcion_tipo_volquete }}</td>
          </tr>
          <tr (click)="onAdd()" class="add-row">
            <td colspan="3" class="add-row-cell">
              <button class="add-button">
                <span class="add-icon">+</span>
                <span>Add New</span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
  </div>